{
  "openapi": "3.1.0",
  "info": {
    "title": "Stophy API",
    "version": "1",
    "description": "Every endpoint is a POST that takes its input as a JSON object body. Unknown fields are rejected with 400.\n\nResponses leave out empty values: null, empty strings, empty objects and empty nested lists are not sent.\n\nx-credits is what one call costs. Every call costs the same, whatever it returns, unless an operation's description sets a price scale. Then x-credits is the lowest price and x-credits-max the highest.\n\nWhen a response has a cursor, send it back unchanged with the same input to get the next page. When it has a page, send the next page number.\n\nEndpoints whose security includes {} also work without an API key: 10 requests a minute and 50 a day per IP, and no paging."
  },
  "servers": [
    {
      "url": "https://api.stophy.dev"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "const": false
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "retryable",
              "requestId"
            ],
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "agentCodeCompleted",
                  "agentCodeNotFound",
                  "agentEmailMismatch",
                  "cliSessionCompleted",
                  "cliSessionExists",
                  "cliSessionNotFound",
                  "forbidden",
                  "insufficientCredits",
                  "internalError",
                  "inviteClaimed",
                  "inviteDisabled",
                  "inviteExpired",
                  "inviteUsedUp",
                  "invalidCliSession",
                  "invalidCliVerifier",
                  "invalidRequest",
                  "notFound",
                  "rateLimited",
                  "sourceChanged",
                  "sourceRefused",
                  "sourceTimeout",
                  "sourceUnavailable",
                  "tooManyInFlight",
                  "unauthorized",
                  "unsupportedMediaType"
                ]
              },
              "message": {
                "type": "string"
              },
              "retryable": {
                "type": "boolean"
              },
              "retryAfterSeconds": {
                "type": "integer"
              },
              "requestId": {
                "type": "string"
              },
              "requiredCredits": {
                "type": "number"
              },
              "availableCredits": {
                "type": "number"
              },
              "billingUrl": {
                "type": "string",
                "const": "https://stophy.dev/billing"
              }
            }
          }
        }
      },
      "EndpointCatalog": {
        "type": "object",
        "required": [
          "endpoints",
          "sources"
        ],
        "properties": {
          "sources": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "name",
                "summary"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "description": "The source's name, such as YouTube or Google Maps."
                },
                "summary": {
                  "type": "string",
                  "description": "What you can get from this source."
                }
              }
            }
          },
          "endpoints": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "title",
                "summary",
                "bestWhen",
                "method",
                "path",
                "credits",
                "keyless",
                "cacheTtlSeconds",
                "example"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string",
                  "description": "A short name for the endpoint within its source, such as Comment replies."
                },
                "summary": {
                  "type": "string",
                  "description": "What this endpoint returns, in one line."
                },
                "bestWhen": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "When this endpoint beats a similar one, such as another source with the same kind of data. Null when there is no overlap worth calling out."
                },
                "method": {
                  "const": "POST"
                },
                "path": {
                  "type": "string"
                },
                "credits": {
                  "type": "integer",
                  "description": "What one call costs, or the lowest it can cost when pricing is set."
                },
                "pricing": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "How the price changes with the answer. Null when every call costs the same."
                },
                "keyless": {
                  "type": "boolean"
                },
                "cacheTtlSeconds": {
                  "type": "integer"
                },
                "input": {
                  "type": "object",
                  "description": "The endpoint's input as JSON Schema."
                },
                "example": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "description": "A real input for this endpoint, or null when there is none."
                }
              }
            }
          }
        }
      }
    },
    "headers": {
      "RequestId": {
        "description": "The request id. Quote it when you report a problem.",
        "schema": {
          "type": "string"
        }
      },
      "CreditsUsed": {
        "description": "Credits this call used.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimitLimit": {
        "description": "Requests allowed in the current window.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimitRemaining": {
        "description": "Requests left in the current window.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimitReset": {
        "description": "Unix time in seconds when the current window resets.",
        "schema": {
          "type": "integer"
        }
      },
      "RetryAfter": {
        "description": "Seconds to wait before retrying.",
        "schema": {
          "type": "integer"
        }
      },
      "Cache": {
        "description": "hit if this result came from the cache, miss if it was fetched live.",
        "schema": {
          "type": "string"
        }
      },
      "CacheAge": {
        "description": "Seconds since the returned result was written to the cache.",
        "schema": {
          "type": "integer"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "The request failed. retryable says whether trying again can help.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/endpoints": {
      "get": {
        "operationId": "listEndpoints",
        "summary": "List every endpoint with its cost and input schema.",
        "security": [
          {}
        ],
        "responses": {
          "200": {
            "description": "The endpoint catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndpointCatalog"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/search": {
      "post": {
        "operationId": "googleSearch",
        "summary": "Search Google and get results, the AI Overview, the knowledge panel and related questions",
        "description": "Costs 1 credit per call. Pages with page. Works without an API key, within free limits.",
        "security": [
          {},
          {
            "apiKey": []
          }
        ],
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 400
                  },
                  "country": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "ISO 3166-1 alpha-2 country code, e.g. us. Any case is accepted."
                  },
                  "language": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "Two-letter language code like en or pt. Any case is accepted."
                  },
                  "includeDomains": {
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "excludeDomains": {
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "within": {
                    "default": "all",
                    "type": "string",
                    "enum": [
                      "day",
                      "week",
                      "month",
                      "year",
                      "all"
                    ]
                  },
                  "page": {
                    "default": 1,
                    "description": "Page number, starting at 1.",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              },
              "example": {
                "query": "best project management software"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "x-cache": {
                "$ref": "#/components/headers/Cache"
              },
              "x-cache-age": {
                "$ref": "#/components/headers/CacheAge"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "aiOverview": {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "text": {
                              "type": "string",
                              "minLength": 1
                            },
                            "sources": {
                              "description": "Pages the overview cites.",
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "url": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "title": {
                                    "type": "string",
                                    "minLength": 1
                                  }
                                },
                                "required": [
                                  "url"
                                ]
                              }
                            }
                          },
                          "required": [
                            "text"
                          ]
                        },
                        "knowledgeGraph": {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "title": {
                              "type": "string",
                              "minLength": 1
                            },
                            "type": {
                              "type": "string"
                            },
                            "website": {
                              "type": "string",
                              "format": "uri"
                            },
                            "imageUrl": {
                              "type": "string",
                              "format": "uri"
                            },
                            "description": {
                              "type": "string"
                            },
                            "descriptionSource": {
                              "type": "string"
                            },
                            "descriptionUrl": {
                              "type": "string",
                              "format": "uri"
                            },
                            "attributes": {
                              "description": "Labelled facts, like Founded or Headquarters.",
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            }
                          },
                          "required": [
                            "title"
                          ]
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "url": {
                                "type": "string",
                                "format": "uri"
                              },
                              "title": {
                                "type": "string",
                                "minLength": 1
                              },
                              "description": {
                                "description": "Text shown under the title.",
                                "type": "string"
                              },
                              "date": {
                                "description": "Day shown on the result, when there is one.",
                                "type": "string",
                                "format": "date",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                              },
                              "sitelinks": {
                                "description": "Links listed under the result.",
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "title": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "Link text."
                                    },
                                    "url": {
                                      "type": "string",
                                      "format": "uri",
                                      "description": "Destination URL."
                                    }
                                  },
                                  "required": [
                                    "title",
                                    "url"
                                  ]
                                }
                              },
                              "position": {
                                "type": "integer",
                                "exclusiveMinimum": 0,
                                "maximum": 9007199254740991
                              }
                            },
                            "required": [
                              "url",
                              "title",
                              "position"
                            ]
                          }
                        },
                        "peopleAlsoAsk": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "question": {
                                "type": "string",
                                "minLength": 1
                              },
                              "answer": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string",
                                "format": "uri"
                              }
                            },
                            "required": [
                              "question"
                            ]
                          }
                        },
                        "relatedSearches": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "results"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/google/news": {
      "post": {
        "operationId": "googleNews",
        "summary": "Search Google News by keyword, date, site and country, or read headlines by topic",
        "description": "Costs 1 credit per call. Pages with page. Works without an API key, within free limits.",
        "security": [
          {},
          {
            "apiKey": []
          }
        ],
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 400
                  },
                  "topic": {
                    "description": "The top 10 headlines in one section instead of a search. Send query or topic, not both.",
                    "type": "string",
                    "enum": [
                      "world",
                      "nation",
                      "business",
                      "technology",
                      "entertainment",
                      "sports",
                      "science",
                      "health"
                    ]
                  },
                  "country": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "ISO 3166-1 alpha-2 country code, e.g. us. Any case is accepted."
                  },
                  "language": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "Two-letter language code like en or pt. Any case is accepted."
                  },
                  "includeDomains": {
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "excludeDomains": {
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "within": {
                    "default": "all",
                    "type": "string",
                    "enum": [
                      "hour",
                      "day",
                      "week",
                      "month",
                      "year",
                      "all"
                    ]
                  },
                  "page": {
                    "default": 1,
                    "description": "Page number, starting at 1.",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "query": "nvidia"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "x-cache": {
                "$ref": "#/components/headers/Cache"
              },
              "x-cache-age": {
                "$ref": "#/components/headers/CacheAge"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "url": {
                                "type": "string",
                                "format": "uri"
                              },
                              "title": {
                                "type": "string",
                                "minLength": 1
                              },
                              "source": {
                                "description": "Publication that ran the article.",
                                "type": "string"
                              },
                              "description": {
                                "description": "Text shown under the headline.",
                                "type": "string"
                              },
                              "publishedAt": {
                                "description": "When the article was published.",
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              },
                              "position": {
                                "type": "integer",
                                "exclusiveMinimum": 0,
                                "maximum": 9007199254740991
                              }
                            },
                            "required": [
                              "url",
                              "title",
                              "position"
                            ]
                          }
                        },
                        "page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "results",
                        "page"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/google/images": {
      "post": {
        "operationId": "googleImages",
        "summary": "Search Google Images and get each full-size image with the page it comes from",
        "description": "Costs 1 credit per call.",
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 400
                  },
                  "country": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "ISO 3166-1 alpha-2 country code, e.g. us. Any case is accepted."
                  },
                  "language": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "Two-letter language code like en or pt. Any case is accepted."
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              },
              "example": {
                "query": "golden retriever puppy"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "x-cache": {
                "$ref": "#/components/headers/Cache"
              },
              "x-cache-age": {
                "$ref": "#/components/headers/CacheAge"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "imageUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "title": {
                                "type": "string"
                              },
                              "pageUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "source": {
                                "type": "string"
                              },
                              "width": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "height": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "thumbnailUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "position": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              }
                            },
                            "required": [
                              "imageUrl",
                              "pageUrl",
                              "width",
                              "height",
                              "thumbnailUrl",
                              "position"
                            ]
                          }
                        }
                      },
                      "required": [
                        "results"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/google/aiMode": {
      "post": {
        "operationId": "googleAiMode",
        "summary": "Ask Google AI Mode a question and get its answer with the sources it cites",
        "description": "Costs 1 credit per call.",
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2000,
                    "description": "The question to ask, worded the way a person would ask it."
                  },
                  "country": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "ISO 3166-1 alpha-2 country code, e.g. us. Any case is accepted."
                  },
                  "language": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "Two-letter language code like en or pt. Any case is accepted."
                  }
                },
                "required": [
                  "prompt"
                ],
                "additionalProperties": false
              },
              "example": {
                "prompt": "What is the best CRM for a small business?"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "x-cache": {
                "$ref": "#/components/headers/Cache"
              },
              "x-cache-age": {
                "$ref": "#/components/headers/CacheAge"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "prompt": {
                          "type": "string"
                        },
                        "answer": {
                          "type": "string",
                          "minLength": 1
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "url": {
                                "type": "string",
                                "format": "uri"
                              },
                              "title": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "url"
                            ]
                          }
                        }
                      },
                      "required": [
                        "answer",
                        "sources"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/google/shopping": {
      "post": {
        "operationId": "googleShopping",
        "summary": "Compare product prices and sellers on Google Shopping by country",
        "description": "Costs 1 credit per call. Pages with page.",
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 400
                  },
                  "country": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "ISO 3166-1 alpha-2 country code, e.g. us. Any case is accepted."
                  },
                  "language": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "Two-letter language code like en or pt. Any case is accepted."
                  },
                  "page": {
                    "default": 1,
                    "description": "Page number, starting at 1.",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              },
              "example": {
                "query": "running shoes"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "x-cache": {
                "$ref": "#/components/headers/Cache"
              },
              "x-cache-age": {
                "$ref": "#/components/headers/CacheAge"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "title": {
                                "type": "string",
                                "minLength": 1
                              },
                              "price": {
                                "type": "number",
                                "exclusiveMinimum": 0,
                                "description": "Current price in the country's currency."
                              },
                              "priceCurrency": {
                                "type": "string",
                                "pattern": "^[A-Z]{3}$",
                                "description": "ISO 4217 currency code, e.g. USD."
                              },
                              "originalPrice": {
                                "description": "Higher price Google shows next to the current one, when there is one.",
                                "type": "number",
                                "exclusiveMinimum": 0
                              },
                              "seller": {
                                "description": "Store with the listed price.",
                                "type": "string"
                              },
                              "delivery": {
                                "description": "Delivery terms, in the page language.",
                                "type": "string"
                              },
                              "returns": {
                                "description": "Return terms, in the page language.",
                                "type": "string"
                              },
                              "rating": {
                                "type": "number",
                                "minimum": 0,
                                "maximum": 5
                              },
                              "reviews": {
                                "description": "How many reviews the rating is based on.",
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9007199254740991
                              },
                              "position": {
                                "type": "integer",
                                "exclusiveMinimum": 0,
                                "maximum": 9007199254740991
                              }
                            },
                            "required": [
                              "title",
                              "price",
                              "position"
                            ]
                          }
                        },
                        "page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "results",
                        "page",
                        "hasMore"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/youtube/search": {
      "post": {
        "operationId": "youtubeSearch",
        "summary": "Search YouTube videos, channels, playlists and shorts",
        "description": "Costs 1 credit per call. Pages with cursor. Works without an API key, within free limits.",
        "security": [
          {},
          {
            "apiKey": []
          }
        ],
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 400
                  },
                  "type": {
                    "default": "videos",
                    "type": "string",
                    "enum": [
                      "videos",
                      "all",
                      "channels",
                      "playlists",
                      "shorts"
                    ]
                  },
                  "within": {
                    "default": "all",
                    "type": "string",
                    "enum": [
                      "hour",
                      "day",
                      "week",
                      "month",
                      "year",
                      "all"
                    ]
                  },
                  "sort": {
                    "default": "relevance",
                    "type": "string",
                    "enum": [
                      "relevance",
                      "top"
                    ]
                  },
                  "cursor": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The cursor from the previous response. Send it as is."
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              },
              "example": {
                "query": "rust tutorial"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "x-cache": {
                "$ref": "#/components/headers/Cache"
              },
              "x-cache-age": {
                "$ref": "#/components/headers/CacheAge"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "video"
                                  },
                                  "videoId": {
                                    "type": "string"
                                  },
                                  "videoUrl": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "channelId": {
                                    "type": "string"
                                  },
                                  "channelName": {
                                    "type": "string"
                                  },
                                  "channelUrl": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "channelUsername": {
                                    "type": "string"
                                  },
                                  "durationSeconds": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "views": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "thumbnailUrl": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "isShort": {
                                    "type": "boolean"
                                  },
                                  "isLive": {
                                    "type": "boolean"
                                  },
                                  "publishedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                                  }
                                },
                                "required": [
                                  "type",
                                  "videoUrl",
                                  "isShort",
                                  "isLive"
                                ]
                              },
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "channel"
                                  },
                                  "channelId": {
                                    "type": "string"
                                  },
                                  "channelUrl": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "channelName": {
                                    "type": "string"
                                  },
                                  "channelUsername": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "subscribers": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "thumbnailUrl": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                },
                                "required": [
                                  "type",
                                  "channelUrl"
                                ]
                              },
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "playlist"
                                  },
                                  "playlistId": {
                                    "type": "string"
                                  },
                                  "playlistUrl": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "channelId": {
                                    "type": "string"
                                  },
                                  "channelName": {
                                    "type": "string"
                                  },
                                  "channelUrl": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "channelUsername": {
                                    "type": "string"
                                  },
                                  "videos": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "thumbnailUrl": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                },
                                "required": [
                                  "type",
                                  "playlistUrl"
                                ]
                              }
                            ]
                          }
                        },
                        "cursor": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "results"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/youtube/video": {
      "post": {
        "operationId": "youtubeVideo",
        "summary": "Get a video's title, channel, views, likes and description",
        "description": "Costs 1 credit per call. Works without an API key, within free limits.",
        "security": [
          {},
          {
            "apiKey": []
          }
        ],
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "video": {
                    "type": "string"
                  }
                },
                "required": [
                  "video"
                ],
                "additionalProperties": false
              },
              "example": {
                "video": "dQw4w9WgXcQ"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "x-cache": {
                "$ref": "#/components/headers/Cache"
              },
              "x-cache-age": {
                "$ref": "#/components/headers/CacheAge"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "videoId": {
                          "type": "string"
                        },
                        "videoUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "title": {
                          "type": "string"
                        },
                        "channelId": {
                          "type": "string"
                        },
                        "channelName": {
                          "type": "string"
                        },
                        "channelUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "channelUsername": {
                          "type": "string"
                        },
                        "durationSeconds": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "views": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "thumbnailUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "isShort": {
                          "type": "boolean"
                        },
                        "isLive": {
                          "type": "boolean"
                        },
                        "publishedAt": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        "description": {
                          "type": "string"
                        },
                        "likes": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "category": {
                          "type": "string"
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "videoUrl",
                        "isShort",
                        "isLive",
                        "tags"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/transcript": {
      "post": {
        "operationId": "transcript",
        "summary": "Get what a YouTube or other video says. 2 credits with captions, else 2 plus 1 per 10 s",
        "description": "Costs 2 credits when the video has captions; otherwise 2 credits plus 1 credit for every 10 seconds of audio, up to 30 minutes. Works without an API key for YouTube videos, within free limits.",
        "security": [
          {},
          {
            "apiKey": []
          }
        ],
        "x-credits": 2,
        "x-credits-max": 182,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "video": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2,3}(?:[-_][A-Za-z0-9]{2,4})?$",
                    "description": "BCP 47 language tag, e.g. en or pt-BR. Any case is accepted."
                  },
                  "includeTimestamps": {
                    "default": false,
                    "type": "boolean"
                  }
                },
                "required": [
                  "video"
                ],
                "additionalProperties": false
              },
              "example": {
                "video": "dQw4w9WgXcQ"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "x-cache": {
                "$ref": "#/components/headers/Cache"
              },
              "x-cache-age": {
                "$ref": "#/components/headers/CacheAge"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "videoId": {
                          "type": "string"
                        },
                        "videoUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "language": {
                          "type": "string"
                        },
                        "isAutoGenerated": {
                          "type": "boolean"
                        },
                        "durationSeconds": {
                          "type": "number"
                        },
                        "transcribedSeconds": {
                          "type": "number"
                        },
                        "text": {
                          "type": "string"
                        },
                        "segments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "startSeconds": {
                                "type": "number"
                              },
                              "endSeconds": {
                                "type": "number"
                              },
                              "text": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "startSeconds",
                              "endSeconds"
                            ]
                          }
                        }
                      },
                      "required": [
                        "videoUrl",
                        "isAutoGenerated"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/youtube/comments": {
      "post": {
        "operationId": "youtubeComments",
        "summary": "Get a video's comments, or the replies to one comment",
        "description": "Costs 1 credit per call. Pages with cursor.",
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "video": {
                    "type": "string"
                  },
                  "comment": {
                    "description": "A comment's repliesCursor from an earlier response. Returns that comment's replies.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 12000
                  },
                  "sort": {
                    "default": "top",
                    "type": "string",
                    "enum": [
                      "top",
                      "newest"
                    ]
                  },
                  "cursor": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The cursor from the previous response. Send it as is."
                  }
                },
                "required": [
                  "video"
                ],
                "additionalProperties": false
              },
              "example": {
                "video": "dQw4w9WgXcQ"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "x-cache": {
                "$ref": "#/components/headers/Cache"
              },
              "x-cache-age": {
                "$ref": "#/components/headers/CacheAge"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "commentId": {
                                "type": "string"
                              },
                              "commentUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "text": {
                                "type": "string"
                              },
                              "authorId": {
                                "type": "string"
                              },
                              "authorName": {
                                "type": "string"
                              },
                              "authorUsername": {
                                "type": "string"
                              },
                              "authorUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "likes": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "replies": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "publishedAt": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              },
                              "isPinned": {
                                "type": "boolean"
                              },
                              "isHearted": {
                                "type": "boolean"
                              },
                              "isChannelOwner": {
                                "type": "boolean"
                              },
                              "repliesCursor": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "commentUrl",
                              "likes",
                              "replies",
                              "isPinned",
                              "isHearted",
                              "isChannelOwner"
                            ]
                          }
                        },
                        "cursor": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "results"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/youtube/channel": {
      "post": {
        "operationId": "youtubeChannel",
        "summary": "Get a channel's profile and a page of its videos, shorts, playlists or posts",
        "description": "Costs 1 credit per call. Pages with cursor.",
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 200
                  },
                  "tab": {
                    "default": "videos",
                    "type": "string",
                    "enum": [
                      "videos",
                      "shorts",
                      "live",
                      "playlists",
                      "posts"
                    ]
                  },
                  "cursor": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The cursor from the previous response. Send it as is."
                  }
                },
                "required": [
                  "channel"
                ],
                "additionalProperties": false
              },
              "example": {
                "channel": "@mkbhd"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "x-cache": {
                "$ref": "#/components/headers/Cache"
              },
              "x-cache-age": {
                "$ref": "#/components/headers/CacheAge"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "channelId": {
                          "type": "string"
                        },
                        "channelUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "channelName": {
                          "type": "string"
                        },
                        "channelUsername": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "subscribers": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "videos": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "avatarUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "bannerUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "country": {
                          "type": "string"
                        },
                        "joinedDate": {
                          "type": "string",
                          "format": "date",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                        },
                        "totalViews": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "video"
                                  },
                                  "videoId": {
                                    "type": "string"
                                  },
                                  "videoUrl": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "channelId": {
                                    "type": "string"
                                  },
                                  "channelName": {
                                    "type": "string"
                                  },
                                  "channelUrl": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "channelUsername": {
                                    "type": "string"
                                  },
                                  "durationSeconds": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "views": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "thumbnailUrl": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "isShort": {
                                    "type": "boolean"
                                  },
                                  "isLive": {
                                    "type": "boolean"
                                  },
                                  "publishedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                                  }
                                },
                                "required": [
                                  "type",
                                  "videoUrl",
                                  "isShort",
                                  "isLive"
                                ]
                              },
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "playlist"
                                  },
                                  "playlistId": {
                                    "type": "string"
                                  },
                                  "playlistUrl": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "channelId": {
                                    "type": "string"
                                  },
                                  "channelName": {
                                    "type": "string"
                                  },
                                  "channelUrl": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "channelUsername": {
                                    "type": "string"
                                  },
                                  "videos": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "thumbnailUrl": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                },
                                "required": [
                                  "type",
                                  "playlistUrl"
                                ]
                              },
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "post"
                                  },
                                  "postId": {
                                    "type": "string"
                                  },
                                  "postUrl": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "text": {
                                    "type": "string"
                                  },
                                  "publishedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                                  },
                                  "likes": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "comments": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "imageUrls": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "format": "uri"
                                    }
                                  },
                                  "videoId": {
                                    "type": "string"
                                  },
                                  "videoTitle": {
                                    "type": "string"
                                  },
                                  "pollChoices": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "pollTotalVotes": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  }
                                },
                                "required": [
                                  "type",
                                  "postUrl"
                                ]
                              }
                            ]
                          }
                        },
                        "cursor": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "results"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/youtube/playlist": {
      "post": {
        "operationId": "youtubePlaylist",
        "summary": "Get a playlist and a page of its videos",
        "description": "Costs 1 credit per call. Pages with cursor.",
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "playlist": {
                    "type": "string"
                  },
                  "cursor": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The cursor from the previous response. Send it as is."
                  }
                },
                "required": [
                  "playlist"
                ],
                "additionalProperties": false
              },
              "example": {
                "playlist": "PLFgquLnL59alCl_2TQvOiD5Vgm1hCaGSI"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "x-cache": {
                "$ref": "#/components/headers/Cache"
              },
              "x-cache-age": {
                "$ref": "#/components/headers/CacheAge"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "playlistId": {
                          "type": "string"
                        },
                        "playlistUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "channelId": {
                          "type": "string"
                        },
                        "channelName": {
                          "type": "string"
                        },
                        "channelUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "channelUsername": {
                          "type": "string"
                        },
                        "videos": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "views": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "thumbnailUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "video"
                              },
                              "videoId": {
                                "type": "string"
                              },
                              "videoUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "title": {
                                "type": "string"
                              },
                              "channelId": {
                                "type": "string"
                              },
                              "channelName": {
                                "type": "string"
                              },
                              "channelUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "channelUsername": {
                                "type": "string"
                              },
                              "durationSeconds": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "views": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "thumbnailUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "isShort": {
                                "type": "boolean"
                              },
                              "isLive": {
                                "type": "boolean"
                              },
                              "publishedAt": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              }
                            },
                            "required": [
                              "type",
                              "videoUrl",
                              "isShort",
                              "isLive"
                            ]
                          }
                        },
                        "cursor": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "results"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/reddit/search": {
      "post": {
[...]
