{
  "openapi": "3.1.0",
  "info": {
    "title": "Stophy API",
    "version": "1",
    "description": "Every endpoint is a POST that takes its input as a JSON object body. Unknown fields are rejected with 400.\n\nSend Accept: text/markdown to get markdown instead of JSON.\n\nResponses leave out empty values: null, empty strings, empty objects and empty nested lists are not sent.\n\nx-credits is what one call costs. When x-per-items is set, a call costs x-credits for every x-per-items items it returns, and at least x-credits.\n\nWhen a response has a cursor, send it back with the same input to get the next page.\n\nEndpoints whose security includes {} also work without an API key: 10 requests a minute and 50 a day per IP, limit at most 10, and no paging."
  },
  "servers": [
    {
      "url": "https://api.stophy.dev"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "const": false
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "retryable",
              "requestId"
            ],
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "cliSessionCompleted",
                  "cliSessionExists",
                  "cliSessionNotFound",
                  "forbidden",
                  "insufficientCredits",
                  "internalError",
                  "invalidCliSession",
                  "invalidCliVerifier",
                  "invalidRequest",
                  "notFound",
                  "rateLimited",
                  "sourceChanged",
                  "sourceRefused",
                  "sourceTimeout",
                  "sourceUnavailable",
                  "tooManyInFlight",
                  "unauthorized",
                  "unsupportedMediaType"
                ]
              },
              "message": {
                "type": "string"
              },
              "retryable": {
                "type": "boolean"
              },
              "retryAfterSeconds": {
                "type": "integer"
              },
              "requestId": {
                "type": "string"
              }
            }
          }
        }
      },
      "EndpointCatalog": {
        "type": "object",
        "required": [
          "endpoints",
          "sources"
        ],
        "properties": {
          "sources": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "summary"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "summary": {
                  "type": "string",
                  "description": "What you can get from this source."
                }
              }
            }
          },
          "endpoints": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "summary",
                "method",
                "path",
                "credits",
                "keyless",
                "perItems",
                "cacheTtlSeconds",
                "example"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "summary": {
                  "type": "string",
                  "description": "What this endpoint returns, in one line."
                },
                "method": {
                  "const": "POST"
                },
                "path": {
                  "type": "string"
                },
                "credits": {
                  "type": "integer"
                },
                "keyless": {
                  "type": "boolean"
                },
                "perItems": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "cacheTtlSeconds": {
                  "type": "integer"
                },
                "input": {
                  "type": "object",
                  "description": "The endpoint's input as JSON Schema."
                },
                "example": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "description": "A real input for this endpoint, or null when there is none."
                }
              }
            }
          }
        }
      },
      "redditPost.schema0": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "author": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "id": {
                "type": "string"
              },
              "username": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "url": {
                "type": "string",
                "format": "uri"
              },
              "avatar": {
                "type": "string",
                "format": "uri"
              },
              "isVerified": {
                "type": "boolean"
              }
            },
            "required": []
          },
          "text": {
            "type": "string"
          },
          "score": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "depth": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "isSubmitter": {
            "type": "boolean"
          },
          "isPinned": {
            "type": "boolean"
          },
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/redditPost.schema0"
            }
          },
          "repliesCursor": {
            "type": "string"
          }
        },
        "required": [
          "url",
          "score",
          "depth",
          "isSubmitter",
          "isPinned"
        ]
      },
      "redditCommentsMore.schema0": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "author": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "id": {
                "type": "string"
              },
              "username": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "url": {
                "type": "string",
                "format": "uri"
              },
              "avatar": {
                "type": "string",
                "format": "uri"
              },
              "isVerified": {
                "type": "boolean"
              }
            },
            "required": []
          },
          "text": {
            "type": "string"
          },
          "score": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "depth": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "isSubmitter": {
            "type": "boolean"
          },
          "isPinned": {
            "type": "boolean"
          },
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/redditCommentsMore.schema0"
            }
          },
          "repliesCursor": {
            "type": "string"
          }
        },
        "required": [
          "url",
          "score",
          "depth",
          "isSubmitter",
          "isPinned"
        ]
      }
    },
    "headers": {
      "RequestId": {
        "description": "The request id. Quote it when you report a problem.",
        "schema": {
          "type": "string"
        }
      },
      "CreditsUsed": {
        "description": "Credits this call used.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimitLimit": {
        "description": "Requests allowed in the current window.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimitRemaining": {
        "description": "Requests left in the current window.",
        "schema": {
          "type": "integer"
        }
      },
      "RetryAfter": {
        "description": "Seconds to wait before retrying.",
        "schema": {
          "type": "integer"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "The request failed. retryable says whether trying again can help.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/endpoints": {
      "get": {
        "operationId": "listEndpoints",
        "summary": "List every endpoint with its cost and input schema.",
        "security": [
          {}
        ],
        "responses": {
          "200": {
            "description": "The endpoint catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndpointCatalog"
                }
              }
            }
          }
        }
      }
    },
    "/v1/web/search": {
      "post": {
        "operationId": "webSearch",
        "summary": "Search the web and get titles, links and snippets",
        "description": "Costs 1 credit per 10 items. Works without an API key, within free limits.",
        "security": [
          {},
          {
            "apiKey": []
          }
        ],
        "x-credits": 1,
        "x-per-items": 10,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 400
                  },
                  "country": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "ISO 3166-1 alpha-2 country code, e.g. us. Any case is accepted."
                  },
                  "language": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "BCP 47 language tag, e.g. en or pt-BR. Any case is accepted."
                  },
                  "includeDomains": {
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "excludeDomains": {
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "from": {
                    "type": "string",
                    "format": "date",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                  },
                  "to": {
                    "type": "string",
                    "format": "date",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                  },
                  "limit": {
                    "default": 10,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "within": {
                    "default": "all",
                    "type": "string",
                    "enum": [
                      "day",
                      "week",
                      "month",
                      "year",
                      "all"
                    ]
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              },
              "example": {
                "query": "best project management software",
                "limit": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "title": {
                                "type": "string",
                                "minLength": 1
                              },
                              "url": {
                                "type": "string",
                                "format": "uri"
                              },
                              "description": {
                                "type": "string"
                              },
                              "domain": {
                                "type": "string"
                              },
                              "position": {
                                "type": "integer",
                                "exclusiveMinimum": 0,
                                "maximum": 9007199254740991
                              }
                            },
                            "required": [
                              "title",
                              "url",
                              "position"
                            ]
                          }
                        }
                      },
                      "required": [
                        "results"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/web/news": {
      "post": {
        "operationId": "webNews",
        "summary": "Search news articles by topic, date and country",
        "description": "Costs 2 credits per 10 items.",
        "x-credits": 2,
        "x-per-items": 10,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 400
                  },
                  "topic": {
                    "type": "string",
                    "enum": [
                      "world",
                      "nation",
                      "business",
                      "technology",
                      "entertainment",
                      "sports",
                      "science",
                      "health"
                    ]
                  },
                  "country": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "ISO 3166-1 alpha-2 country code, e.g. us. Any case is accepted."
                  },
                  "language": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "BCP 47 language tag, e.g. en or pt-BR. Any case is accepted."
                  },
                  "includeDomains": {
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "excludeDomains": {
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "from": {
                    "type": "string",
                    "format": "date",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                  },
                  "to": {
                    "type": "string",
                    "format": "date",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                  },
                  "limit": {
                    "default": 10,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "within": {
                    "default": "all",
                    "type": "string",
                    "enum": [
                      "hour",
                      "day",
                      "week",
                      "month",
                      "year",
                      "all"
                    ]
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "query": "nvidia",
                "limit": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "articles": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "title": {
                                "type": "string",
                                "minLength": 1
                              },
                              "url": {
                                "type": "string",
                                "format": "uri"
                              },
                              "publisher": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                },
                                "required": []
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              },
                              "domain": {
                                "type": "string"
                              },
                              "position": {
                                "type": "integer",
                                "exclusiveMinimum": 0,
                                "maximum": 9007199254740991
                              }
                            },
                            "required": [
                              "title",
                              "url",
                              "position"
                            ]
                          }
                        }
                      },
                      "required": [
                        "articles"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/web/contacts": {
      "post": {
        "operationId": "webContacts",
        "summary": "Find emails, phone numbers and social profiles on a website",
        "description": "Costs 2 credits per 5 items.",
        "x-credits": 2,
        "x-per-items": 5,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "maxPages": {
                    "default": 5,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10
                  }
                },
                "required": [
                  "url"
                ],
                "additionalProperties": false
              },
              "example": {
                "url": "https://www.franklinbbq.com",
                "maxPages": 3
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "emails": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "phones": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "socials": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "platform": {
                                "type": "string",
                                "enum": [
                                  "facebook",
                                  "instagram",
                                  "x",
                                  "linkedin",
                                  "youtube",
                                  "tiktok",
                                  "pinterest",
                                  "github",
                                  "threads"
                                ]
                              },
                              "url": {
                                "type": "string",
                                "format": "uri"
                              }
                            },
                            "required": [
                              "platform",
                              "url"
                            ]
                          }
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "pages": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uri"
                          }
                        }
                      },
                      "required": [
                        "emails",
                        "phones",
                        "socials",
                        "url",
                        "pages"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/youtube/search": {
      "post": {
        "operationId": "youtubeSearch",
        "summary": "Search YouTube videos, channels, playlists and shorts",
        "description": "Costs 1 credit per 20 items. Pages with cursor. Works without an API key, within free limits.",
        "security": [
          {},
          {
            "apiKey": []
          }
        ],
        "x-credits": 1,
        "x-per-items": 20,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 400
                  },
                  "type": {
                    "default": "videos",
                    "type": "string",
                    "enum": [
                      "videos",
                      "all",
                      "channels",
                      "playlists",
                      "shorts"
                    ]
                  },
                  "duration": {
                    "default": "all",
                    "type": "string",
                    "enum": [
                      "all",
                      "short",
                      "medium",
                      "long"
                    ]
                  },
                  "within": {
                    "default": "all",
                    "type": "string",
                    "enum": [
                      "hour",
                      "day",
                      "week",
                      "month",
                      "year",
                      "all"
                    ]
                  },
                  "sort": {
                    "default": "relevance",
                    "type": "string",
                    "enum": [
                      "relevance",
                      "top"
                    ]
                  },
                  "features": {
                    "default": [],
                    "maxItems": 9,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "360",
                        "live",
                        "4k",
                        "hd",
                        "subtitles",
                        "creativeCommons",
                        "vr180",
                        "3d",
                        "hdr"
                      ]
                    }
                  },
                  "country": {
                    "default": "us",
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "ISO 3166-1 alpha-2 country code, e.g. us. Any case is accepted."
                  },
                  "language": {
                    "default": "en",
                    "type": "string",
                    "pattern": "^[A-Za-z]{2,3}(?:[-_][A-Za-z0-9]{2,4})?$",
                    "description": "BCP 47 language tag, e.g. en or pt-BR. Any case is accepted."
                  },
                  "limit": {
                    "default": 20,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "cursor": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              },
              "example": {
                "query": "rust tutorial"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "video"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "channel": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "username": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "url": {
                                        "type": "string",
                                        "format": "uri"
                                      },
                                      "avatar": {
                                        "type": "string",
                                        "format": "uri"
                                      },
                                      "isVerified": {
                                        "type": "boolean"
                                      }
                                    },
                                    "required": []
                                  },
                                  "durationSeconds": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "views": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "thumbnail": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "isShort": {
                                    "type": "boolean"
                                  },
                                  "isLive": {
                                    "type": "boolean"
                                  },
                                  "createdAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                                  }
                                },
                                "required": [
                                  "type",
                                  "url",
                                  "isShort",
                                  "isLive"
                                ]
                              },
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "channel"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "username": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "subscribers": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "thumbnail": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                },
                                "required": [
                                  "type",
                                  "url"
                                ]
                              },
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "playlist"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "channel": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "username": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "url": {
                                        "type": "string",
                                        "format": "uri"
                                      },
                                      "avatar": {
                                        "type": "string",
                                        "format": "uri"
                                      },
                                      "isVerified": {
                                        "type": "boolean"
                                      }
                                    },
                                    "required": []
                                  },
                                  "videos": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "thumbnail": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                },
                                "required": [
                                  "type",
                                  "url"
                                ]
                              }
                            ]
                          }
                        },
                        "cursor": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "results"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/youtube/video": {
      "post": {
        "operationId": "youtubeVideo",
        "summary": "Get a video's title, channel, views, likes and description",
        "description": "Costs 1 credit.",
        "x-credits": 1,
        "x-per-items": null,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "video": {
                    "type": "string"
                  }
                },
                "required": [
                  "video"
                ],
                "additionalProperties": false
              },
              "example": {
                "video": "dQw4w9WgXcQ"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "title": {
                          "type": "string"
                        },
                        "channel": {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string",
                              "format": "uri"
                            },
                            "avatar": {
                              "type": "string",
                              "format": "uri"
                            },
                            "isVerified": {
                              "type": "boolean"
                            }
                          },
                          "required": []
                        },
                        "durationSeconds": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "views": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "thumbnail": {
                          "type": "string",
                          "format": "uri"
                        },
                        "isShort": {
                          "type": "boolean"
                        },
                        "isLive": {
                          "type": "boolean"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        "description": {
                          "type": "string"
                        },
                        "likes": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "category": {
                          "type": "string"
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "url",
                        "isShort",
                        "isLive",
                        "tags"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/youtube/transcript": {
      "post": {
        "operationId": "youtubeTranscript",
        "summary": "Get a video's transcript, with optional timestamps",
        "description": "Costs 3 credits. Works without an API key, within free limits.",
        "security": [
          {},
          {
            "apiKey": []
          }
        ],
        "x-credits": 3,
        "x-per-items": null,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "video": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2,3}(?:[-_][A-Za-z0-9]{2,4})?$",
                    "description": "BCP 47 language tag, e.g. en or pt-BR. Any case is accepted."
                  },
                  "includeTimestamps": {
                    "default": false,
                    "type": "boolean"
                  }
                },
                "required": [
                  "video"
                ],
                "additionalProperties": false
              },
              "example": {
                "video": "dQw4w9WgXcQ"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "language": {
                          "type": "string"
                        },
                        "isAutoGenerated": {
                          "type": "boolean"
                        },
                        "durationSeconds": {
                          "type": "number"
                        },
                        "text": {
                          "type": "string"
                        },
                        "segments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "startSeconds": {
                                "type": "number"
                              },
                              "endSeconds": {
                                "type": "number"
                              },
                              "text": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "startSeconds",
                              "endSeconds"
                            ]
                          }
                        }
                      },
                      "required": [
                        "url",
                        "isAutoGenerated"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/youtube/comments": {
      "post": {
        "operationId": "youtubeComments",
        "summary": "Get a video's comments",
        "description": "Costs 1 credit per 20 items. Pages with cursor.",
        "x-credits": 1,
        "x-per-items": 20,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "video": {
                    "type": "string"
                  },
                  "sort": {
                    "default": "top",
                    "type": "string",
                    "enum": [
                      "top",
                      "newest"
                    ]
                  },
                  "limit": {
                    "default": 20,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 200
                  },
                  "cursor": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096
                  }
                },
                "required": [
                  "video"
                ],
                "additionalProperties": false
              },
              "example": {
                "video": "dQw4w9WgXcQ"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "comments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string",
                                "format": "uri"
                              },
                              "text": {
                                "type": "string"
                              },
                              "author": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "username": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "avatar": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "isVerified": {
                                    "type": "boolean"
                                  }
                                },
                                "required": []
                              },
                              "likes": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "replies": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              },
                              "isPinned": {
                                "type": "boolean"
                              },
                              "isHearted": {
                                "type": "boolean"
                              },
                              "isChannelOwner": {
                                "type": "boolean"
                              },
                              "repliesCursor": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "url",
                              "likes",
                              "replies",
                              "isPinned",
                              "isHearted",
                              "isChannelOwner"
                            ]
                          }
                        },
                        "cursor": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "comments"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/youtube/comments/replies": {
      "post": {
        "operationId": "youtubeCommentsReplies",
        "summary": "Get the replies to a video comment",
        "description": "Costs 1 credit per 10 items. Pages with cursor.",
        "x-credits": 1,
        "x-per-items": 10,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "video": {
                    "type": "string"
                  },
                  "limit": {
                    "default": 10,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "cursor": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096
                  }
                },
                "required": [
                  "video",
                  "cursor"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "replies": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string",
                                "format": "uri"
                              },
                              "text": {
                                "type": "string"
                              },
                              "author": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "username": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "avatar": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "isVerified": {
                                    "type": "boolean"
                                  }
                                },
                                "required": []
                              },
                              "likes": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "replies": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              },
                              "isPinned": {
                                "type": "boolean"
                              },
                              "isHearted": {
                                "type": "boolean"
                              },
                              "isChannelOwner": {
                                "type": "boolean"
                              },
                              "repliesCursor": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "url",
                              "likes",
                              "replies",
                              "isPinned",
                              "isHearted",
                              "isChannelOwner"
                            ]
                          }
                        },
                        "cursor": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "replies"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/youtube/channel": {
      "post": {
        "operationId": "youtubeChannel",
        "summary": "Get a channel's videos, shorts, playlists and about info",
        "description": "Costs 1 credit per 30 items. Pages with cursor.",
        "x-credits": 1,
        "x-per-items": 30,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 200
                  },
                  "tab": {
                    "default": "videos",
                    "type": "string",
                    "enum": [
                      "videos",
                      "shorts",
                      "live",
                      "playlists",
                      "posts",
                      "search"
                    ]
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "includeAbout": {
                    "default": false,
                    "type": "boolean"
                  },
                  "limit": {
                    "default": 30,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 150
                  },
                  "cursor": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096
                  }
                },
                "required": [
                  "channel"
                ],
                "additionalProperties": false
              },
              "example": {
                "channel": "@mkbhd"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "channel": {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string",
                              "format": "uri"
                            },
                            "name": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "subscribers": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "videos": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "avatar": {
                              "type": "string",
                              "format": "uri"
                            },
                            "banner": {
                              "type": "string",
                              "format": "uri"
                            },
                            "about": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "country": {
                                  "type": "string"
                                },
                                "joinedDate": {
                                  "type": "string",
                                  "format": "date",
                                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                                },
                                "views": {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                "links": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "title": {
                                        "type": "string"
                                      },
                                      "url": {
                                        "type": "string",
                                        "format": "uri"
                                      }
                                    },
                                    "required": [
                                      "url"
                                    ]
                                  }
                                }
                              },
                              "required": []
                            }
                          },
                          "required": [
                            "url"
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "video"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "channel": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "username": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "url": {
                                        "type": "string",
                                        "format": "uri"
                                      },
                                      "avatar": {
                                        "type": "string",
                                        "format": "uri"
                                      },
                                      "isVerified": {
                                        "type": "boolean"
                                      }
                                    },
                                    "required": []
                                  },
                                  "durationSeconds": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "views": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "thumbnail": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "isShort": {
                                    "type": "boolean"
                                  },
                                  "isLive": {
                                    "type": "boolean"
                                  },
                                  "createdAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                                  }
                                },
                                "required": [
                                  "type",
                                  "url",
                                  "isShort",
                                  "isLive"
                                ]
                              },
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "playlist"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "channel": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "username": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "url": {
                                        "type": "string",
                                        "format": "uri"
                                      },
                                      "avatar": {
                                        "type": "string",
                                        "format": "uri"
                                      },
                                      "isVerified": {
                                        "type": "boolean"
                                      }
                                    },
                                    "required": []
                                  },
                                  "videos": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "thumbnail": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                },
                                "required": [
                                  "type",
                                  "url"
                                ]
                              },
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "post"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "text": {
                                    "type": "string"
                                  },
                                  "createdAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                                  },
                                  "likes": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "comments": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "images": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "url": {
                                          "type": "string",
                                          "format": "uri"
                                        },
                                        "caption": {
                                          "type": "string"
                                        },
                                        "alt": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "url"
                                      ]
                                    }
                                  },
                                  "video": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "title": {
                                        "type": "string"
                                      }
                                    },
                                    "required": []
                                  },
                                  "poll": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "choices": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "totalVotes": {
                                        "type": "integer",
                                        "minimum": -9007199254740991,
                                        "maximum": 9007199254740991
                                      }
                                    },
                                    "required": []
                                  }
                                },
                                "required": [
                                  "type",
                                  "url"
                                ]
                              }
                            ]
                          }
                        },
                        "cursor": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "items"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/youtube/playlist": {
      "post": {
        "operationId": "youtubePlaylist",
        "summary": "Get the videos in a playlist",
        "description": "Costs 1 credit per 100 items. Pages with cursor.",
        "x-credits": 1,
        "x-per-items": 100,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "playlist": {
                    "type": "string"
                  },
                  "limit": {
                    "default": 100,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 500
                  },
                  "cursor": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096
                  }
                },
                "required": [
                  "playlist"
                ],
                "additionalProperties": false
              },
              "example": {
                "playlist": "PLFgquLnL59alCl_2TQvOiD5Vgm1hCaGSI"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "playlist": {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string",
                              "format": "uri"
                            },
                            "title": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "channel": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "username": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string",
                                  "format": "uri"
                                },
                                "avatar": {
                                  "type": "string",
                                  "format": "uri"
                                },
                                "isVerified": {
                                  "type": "boolean"
                                }
                              },
                              "required": []
                            },
                            "videos": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "views": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "thumbnail": {
                              "type": "string",
                              "format": "uri"
                            }
                          },
                          "required": [
                            "url"
                          ]
                        },
                        "videos": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "video"
                              },
                              "id": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string",
                                "format": "uri"
                              },
                              "title": {
                                "type": "string"
                              },
                              "channel": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "username": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "avatar": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "isVerified": {
                                    "type": "boolean"
                                  }
                                },
                                "required": []
                              },
                              "durationSeconds": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "views": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "thumbnail": {
                                "type": "string",
                                "format": "uri"
                              },
                              "isShort": {
                                "type": "boolean"
                              },
                              "isLive": {
                                "type": "boolean"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              }
                            },
                            "required": [
                              "type",
                              "url",
                              "isShort",
                              "isLive"
                            ]
                          }
[...]
