{
  "openapi": "3.1.0",
  "info": {
    "title": "Stophy API",
    "version": "1",
    "description": "Every endpoint is a POST that takes its input as a JSON object body. Unknown fields are rejected with 400.\n\nResponses leave out empty values: null, empty strings, empty objects and empty nested lists are not sent.\n\nx-credits is what one call costs. Every call costs the same, whatever it returns, unless an operation's description says it costs per 10 results, or per second of audio. Then x-credits is the lowest price and x-credits-max the most one call can cost. Where an operation takes limit, send it to return fewer results and pay for fewer.\n\nWhen a response has a cursor, send it back unchanged with the same input to get the next page. When it has a page, send the next page number.\n\nEndpoints whose security includes {} also work without an API key: 10 requests a minute and 50 a day per IP, and no paging."
  },
  "servers": [
    {
      "url": "https://api.stophy.dev"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "const": false
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "retryable",
              "requestId"
            ],
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "cliSessionCompleted",
                  "cliSessionExists",
                  "cliSessionNotFound",
                  "forbidden",
                  "insufficientCredits",
                  "internalError",
                  "inviteClaimed",
                  "inviteDisabled",
                  "inviteExpired",
                  "inviteUsedUp",
                  "invalidCliSession",
                  "invalidCliVerifier",
                  "invalidRequest",
                  "notFound",
                  "rateLimited",
                  "sourceChanged",
                  "sourceRefused",
                  "sourceTimeout",
                  "sourceUnavailable",
                  "tooManyInFlight",
                  "unauthorized",
                  "unsupportedMediaType"
                ]
              },
              "message": {
                "type": "string"
              },
              "retryable": {
                "type": "boolean"
              },
              "retryAfterSeconds": {
                "type": "integer"
              },
              "requestId": {
                "type": "string"
              },
              "requiredCredits": {
                "type": "number"
              },
              "availableCredits": {
                "type": "number"
              },
              "billingUrl": {
                "type": "string",
                "const": "https://stophy.dev/billing"
              }
            }
          }
        }
      },
      "EndpointCatalog": {
        "type": "object",
        "required": [
          "endpoints",
          "sources"
        ],
        "properties": {
          "sources": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "name",
                "summary"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "description": "The source's name, such as YouTube or Google Maps."
                },
                "summary": {
                  "type": "string",
                  "description": "What you can get from this source."
                }
              }
            }
          },
          "endpoints": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "title",
                "summary",
                "bestWhen",
                "method",
                "path",
                "credits",
                "keyless",
                "cacheTtlSeconds",
                "example"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string",
                  "description": "A short name for the endpoint within its source, such as Comment replies."
                },
                "summary": {
                  "type": "string",
                  "description": "What this endpoint returns, in one line."
                },
                "bestWhen": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "When this endpoint beats a similar one, such as another source with the same kind of data. Null when there is no overlap worth calling out."
                },
                "method": {
                  "const": "POST"
                },
                "path": {
                  "type": "string"
                },
                "credits": {
                  "type": "integer",
                  "description": "What one call costs, or the lowest it can cost when pricing is set."
                },
                "pricing": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "How the price changes with the answer. Null when every call costs the same."
                },
                "keyless": {
                  "type": "boolean"
                },
                "cacheTtlSeconds": {
                  "type": "integer"
                },
                "input": {
                  "type": "object",
                  "description": "The endpoint's input as JSON Schema."
                },
                "example": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "description": "A real input for this endpoint, or null when there is none."
                }
              }
            }
          }
        }
      }
    },
    "headers": {
      "RequestId": {
        "description": "The request id. Quote it when you report a problem.",
        "schema": {
          "type": "string"
        }
      },
      "CreditsUsed": {
        "description": "Credits this call used.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimitLimit": {
        "description": "Requests allowed in the current window.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimitRemaining": {
        "description": "Requests left in the current window.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimitReset": {
        "description": "Unix time in seconds when the current window resets.",
        "schema": {
          "type": "integer"
        }
      },
      "RetryAfter": {
        "description": "Seconds to wait before retrying.",
        "schema": {
          "type": "integer"
        }
      },
      "Cache": {
        "description": "hit if this result came from the cache, miss if it was fetched live.",
        "schema": {
          "type": "string"
        }
      },
      "CacheAge": {
        "description": "Seconds since the returned result was written to the cache.",
        "schema": {
          "type": "integer"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "The request failed. retryable says whether trying again can help.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/endpoints": {
      "get": {
        "operationId": "listEndpoints",
        "summary": "List every endpoint with its cost and input schema.",
        "security": [
          {}
        ],
        "responses": {
          "200": {
            "description": "The endpoint catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndpointCatalog"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google/search": {
      "post": {
        "operationId": "googleSearch",
        "summary": "Search Google and get results, the AI Overview, the knowledge panel and related questions",
        "description": "Costs 1 credit per call. Pages with page. Works without an API key, within free limits.",
        "security": [
          {},
          {
            "apiKey": []
          }
        ],
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 400
                  },
                  "country": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "ISO 3166-1 alpha-2 country code, e.g. us. Any case is accepted."
                  },
                  "language": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "Two-letter language code like en or pt. Any case is accepted."
                  },
                  "includeDomains": {
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "excludeDomains": {
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "time": {
                    "description": "Google's Tools time filter. Leave out for any time.",
                    "type": "string",
                    "enum": [
                      "pastHour",
                      "past24Hours",
                      "pastWeek",
                      "pastMonth",
                      "pastYear"
                    ]
                  },
                  "verbatim": {
                    "default": false,
                    "description": "Google's Verbatim: search the exact words, with no spelling fixes.",
                    "type": "boolean"
                  },
                  "fileType": {
                    "type": "string",
                    "enum": [
                      "pdf",
                      "doc",
                      "docx",
                      "xls",
                      "xlsx",
                      "ppt",
                      "pptx",
                      "txt",
                      "rtf",
                      "csv",
                      "kml"
                    ]
                  },
                  "safeSearch": {
                    "default": false,
                    "description": "Hide explicit results.",
                    "type": "boolean"
                  },
                  "page": {
                    "default": 1,
                    "description": "Page number, starting at 1.",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              },
              "example": {
                "query": "best project management software"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "x-cache": {
                "$ref": "#/components/headers/Cache"
              },
              "x-cache-age": {
                "$ref": "#/components/headers/CacheAge"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "aiOverview": {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "text": {
                              "type": "string",
                              "minLength": 1
                            },
                            "sources": {
                              "description": "Pages the overview cites.",
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "url": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "title": {
                                    "type": "string",
                                    "minLength": 1
                                  }
                                },
                                "required": [
                                  "url"
                                ]
                              }
                            }
                          },
                          "required": [
                            "text"
                          ]
                        },
                        "knowledgeGraph": {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "title": {
                              "type": "string",
                              "minLength": 1
                            },
                            "type": {
                              "type": "string"
                            },
                            "website": {
                              "type": "string",
                              "format": "uri"
                            },
                            "imageUrl": {
                              "type": "string",
                              "format": "uri"
                            },
                            "description": {
                              "type": "string"
                            },
                            "descriptionSource": {
                              "type": "string"
                            },
                            "descriptionUrl": {
                              "type": "string",
                              "format": "uri"
                            },
                            "attributes": {
                              "description": "Labelled facts, like Founded or Headquarters.",
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "profiles": {
                              "description": "Official social profiles.",
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "site": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "url": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                },
                                "required": [
                                  "site",
                                  "url"
                                ]
                              }
                            }
                          },
                          "required": [
                            "title"
                          ]
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "web"
                                  },
                                  "url": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "title": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "description": {
                                    "description": "Text shown under the title.",
                                    "type": "string"
                                  },
                                  "date": {
                                    "description": "Day shown on the result, when there is one.",
                                    "type": "string",
                                    "format": "date",
                                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                                  },
                                  "sitelinks": {
                                    "description": "Links listed under the result.",
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "title": {
                                          "type": "string",
                                          "minLength": 1,
                                          "description": "Link text."
                                        },
                                        "url": {
                                          "type": "string",
                                          "format": "uri",
                                          "description": "Destination URL."
                                        }
                                      },
                                      "required": [
                                        "title",
                                        "url"
                                      ]
                                    }
                                  },
                                  "position": {
                                    "type": "integer",
                                    "exclusiveMinimum": 0,
                                    "maximum": 9007199254740991
                                  }
                                },
                                "required": [
                                  "type",
                                  "url",
                                  "title",
                                  "position"
                                ]
                              },
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "news"
                                  },
                                  "url": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "title": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "source": {
                                    "description": "Publication that ran the story.",
                                    "type": "string"
                                  },
                                  "publishedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                                  },
                                  "position": {
                                    "type": "integer",
                                    "exclusiveMinimum": 0,
                                    "maximum": 9007199254740991
                                  }
                                },
                                "required": [
                                  "type",
                                  "url",
                                  "title",
                                  "position"
                                ]
                              },
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "video"
                                  },
                                  "url": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "title": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "site": {
                                    "description": "Where the video is hosted, like YouTube.",
                                    "type": "string"
                                  },
                                  "channelName": {
                                    "type": "string"
                                  },
                                  "durationSeconds": {
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "publishedAt": {
                                    "description": "Approximate: Google shows only how long ago the video was published.",
                                    "type": "string",
                                    "format": "date-time",
                                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                                  },
                                  "position": {
                                    "type": "integer",
                                    "exclusiveMinimum": 0,
                                    "maximum": 9007199254740991
                                  }
                                },
                                "required": [
                                  "type",
                                  "url",
                                  "title",
                                  "position"
                                ]
                              },
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "post"
                                  },
                                  "url": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "text": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "site": {
                                    "description": "Where it was posted, like Reddit or X.",
                                    "type": "string"
                                  },
                                  "authorName": {
                                    "type": "string"
                                  },
                                  "comments": {
                                    "description": "At least this many.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "likes": {
                                    "description": "At least this many.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "publishedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                                  },
                                  "position": {
                                    "type": "integer",
                                    "exclusiveMinimum": 0,
                                    "maximum": 9007199254740991
                                  }
                                },
                                "required": [
                                  "type",
                                  "url",
                                  "text",
                                  "position"
                                ]
                              }
                            ]
                          }
                        },
                        "peopleAlsoAsk": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "question": {
                                "type": "string",
                                "minLength": 1
                              },
                              "answer": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string",
                                "format": "uri"
                              }
                            },
                            "required": [
                              "question"
                            ]
                          }
                        },
                        "relatedSearches": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "results"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/google/news": {
      "post": {
        "operationId": "googleNews",
        "summary": "Search Google News by keyword, date, site and country, or read headlines by topic",
        "description": "Costs 1 credit per call. Pages with page. Works without an API key, within free limits.",
        "security": [
          {},
          {
            "apiKey": []
          }
        ],
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 400
                  },
                  "topic": {
                    "description": "The top 10 headlines in one section instead of a search. Send query or topic, not both.",
                    "type": "string",
                    "enum": [
                      "world",
                      "nation",
                      "business",
                      "technology",
                      "entertainment",
                      "sports",
                      "science",
                      "health"
                    ]
                  },
                  "country": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "ISO 3166-1 alpha-2 country code, e.g. us. Any case is accepted."
                  },
                  "language": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "Two-letter language code like en or pt. Any case is accepted."
                  },
                  "includeDomains": {
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "excludeDomains": {
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "time": {
                    "description": "Google's Tools time filter. Leave out for any time.",
                    "type": "string",
                    "enum": [
                      "pastHour",
                      "past24Hours",
                      "pastWeek",
                      "pastMonth",
                      "pastYear"
                    ]
                  },
                  "sort": {
                    "default": "relevance",
                    "description": "Google News' own sort: by relevance or newest first.",
                    "type": "string",
                    "enum": [
                      "relevance",
                      "newest"
                    ]
                  },
                  "page": {
                    "default": 1,
                    "description": "Page number, starting at 1.",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "query": "nvidia"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "x-cache": {
                "$ref": "#/components/headers/Cache"
              },
              "x-cache-age": {
                "$ref": "#/components/headers/CacheAge"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "url": {
                                "type": "string",
                                "format": "uri"
                              },
                              "title": {
                                "type": "string",
                                "minLength": 1
                              },
                              "source": {
                                "description": "Publication that ran the article.",
                                "type": "string"
                              },
                              "description": {
                                "description": "Text shown under the headline.",
                                "type": "string"
                              },
                              "publishedAt": {
                                "description": "When the article was published.",
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              },
                              "position": {
                                "type": "integer",
                                "exclusiveMinimum": 0,
                                "maximum": 9007199254740991
                              }
                            },
                            "required": [
                              "url",
                              "title",
                              "position"
                            ]
                          }
                        },
                        "page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "results",
                        "page"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/google/images": {
      "post": {
        "operationId": "googleImages",
        "summary": "Search Google Images and get each full-size image with the page it comes from",
        "description": "Costs 1 credit per 10 images.",
        "x-credits": 1,
        "x-credits-max": 10,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 400
                  },
                  "country": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "ISO 3166-1 alpha-2 country code, e.g. us. Any case is accepted."
                  },
                  "language": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "Two-letter language code like en or pt. Any case is accepted."
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "large",
                      "medium",
                      "icon"
                    ]
                  },
                  "color": {
                    "type": "string",
                    "enum": [
                      "blackAndWhite",
                      "transparent",
                      "red",
                      "orange",
                      "yellow",
                      "green",
                      "teal",
                      "blue",
                      "purple",
                      "pink",
                      "white",
                      "gray",
                      "black",
                      "brown"
                    ]
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "clipArt",
                      "lineDrawing",
                      "gif"
                    ]
                  },
                  "time": {
                    "type": "string",
                    "enum": [
                      "past24Hours",
                      "pastWeek",
                      "pastMonth",
                      "pastYear"
                    ]
                  },
                  "usageRights": {
                    "description": "Creative Commons, or commercial and other licenses.",
                    "type": "string",
                    "enum": [
                      "creativeCommons",
                      "commercial"
                    ]
                  },
                  "limit": {
                    "description": "Return at most this many images. You pay 1 credit per 10 returned.",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              },
              "example": {
                "query": "golden retriever puppy"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "x-cache": {
                "$ref": "#/components/headers/Cache"
              },
              "x-cache-age": {
                "$ref": "#/components/headers/CacheAge"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "imageUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "title": {
                                "type": "string"
                              },
                              "pageUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "source": {
                                "type": "string"
                              },
                              "width": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "height": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "thumbnailUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "position": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              }
                            },
                            "required": [
                              "imageUrl",
                              "pageUrl",
                              "width",
                              "height",
                              "thumbnailUrl",
                              "position"
                            ]
                          }
                        }
                      },
                      "required": [
                        "results"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/google/aiMode": {
      "post": {
        "operationId": "googleAiMode",
        "summary": "Ask Google AI Mode a question and get its answer with the sources it cites",
        "description": "Costs 2 credits per call.",
        "x-credits": 2,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2000,
                    "description": "The question to ask, worded the way a person would ask it."
                  },
                  "country": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "ISO 3166-1 alpha-2 country code, e.g. us. Any case is accepted."
                  },
                  "language": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "Two-letter language code like en or pt. Any case is accepted."
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              },
              "example": {
                "query": "What is the best CRM for a small business?"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "x-cache": {
                "$ref": "#/components/headers/Cache"
              },
              "x-cache-age": {
                "$ref": "#/components/headers/CacheAge"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "query": {
                          "type": "string"
                        },
                        "answer": {
                          "type": "string",
                          "minLength": 1
                        },
                        "sources": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "url": {
                                "type": "string",
                                "format": "uri"
                              },
                              "title": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "url"
                            ]
                          }
                        }
                      },
                      "required": [
                        "answer",
                        "sources"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/google/shopping": {
      "post": {
        "operationId": "googleShopping",
        "summary": "Compare product prices and sellers on Google Shopping by country",
        "description": "Costs 2 credits per call. Pages with page.",
        "x-credits": 2,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 400
                  },
                  "filter": {
                    "description": "A filter from a previous response's filters. Its page already holds earlier choices; a selected one removes it.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4000
                  },
                  "country": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "ISO 3166-1 alpha-2 country code, e.g. us. Any case is accepted."
                  },
                  "language": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "Two-letter language code like en or pt. Any case is accepted."
                  },
                  "page": {
                    "default": 1,
                    "description": "Page number, starting at 1.",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              },
              "example": {
                "query": "running shoes"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "x-cache": {
                "$ref": "#/components/headers/Cache"
              },
              "x-cache-age": {
                "$ref": "#/components/headers/CacheAge"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "filters": {
                          "description": "Google Shopping's own filters for this search.",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "group": {
                                "type": "string",
                                "minLength": 1,
                                "description": "Google's name for the filter, like Price or Brand."
                              },
                              "options": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "label": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "filter": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "Send as filter to apply this choice."
                                    },
                                    "isSelected": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": [
                                    "label",
                                    "filter",
                                    "isSelected"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "group"
                            ]
                          }
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "productId": {
                                "type": "string",
                                "minLength": 1,
                                "description": "Google Shopping's id for this product."
                              },
                              "title": {
                                "type": "string",
                                "minLength": 1
                              },
                              "price": {
                                "type": "number",
                                "exclusiveMinimum": 0,
                                "description": "Current price in the country's currency."
                              },
                              "priceCurrency": {
                                "type": "string",
                                "pattern": "^[A-Z]{3}$",
                                "description": "ISO 4217 currency code, e.g. USD."
                              },
                              "originalPrice": {
                                "description": "Higher price Google shows next to the current one, when there is one.",
                                "type": "number",
                                "exclusiveMinimum": 0
                              },
                              "seller": {
                                "description": "Store with the listed price.",
                                "type": "string"
                              },
                              "delivery": {
                                "description": "Delivery terms, in the page language.",
                                "type": "string"
                              },
                              "returns": {
                                "description": "Return terms, in the page language.",
                                "type": "string"
                              },
                              "rating": {
                                "type": "number",
                                "minimum": 0,
                                "maximum": 5
                              },
                              "reviews": {
                                "description": "How many reviews the rating is based on.",
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9007199254740991
                              },
                              "position": {
                                "type": "integer",
                                "exclusiveMinimum": 0,
                                "maximum": 9007199254740991
                              }
                            },
                            "required": [
                              "productId",
                              "title",
                              "price",
                              "position"
                            ]
                          }
                        },
                        "page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "results",
                        "page"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/google/suggest": {
      "post": {
        "operationId": "googleSuggest",
        "summary": "Get Google search suggestions for a keyword",
        "description": "Costs 1 credit per call.",
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "country": {
                    "default": "us",
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "ISO 3166-1 alpha-2 country code, e.g. us. Any case is accepted."
                  },
                  "language": {
                    "default": "en",
                    "type": "string",
                    "pattern": "^[A-Za-z]{2,3}(?:[-_][A-Za-z0-9]{2,4})?$",
                    "description": "BCP 47 language tag, e.g. en or pt-BR. Any case is accepted."
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              },
              "example": {
                "query": "best running shoes"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "x-cache": {
                "$ref": "#/components/headers/Cache"
              },
              "x-cache-age": {
                "$ref": "#/components/headers/CacheAge"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "keyword": {
                                "type": "string",
                                "minLength": 1
                              },
                              "rank": {
                                "type": "integer",
                                "exclusiveMinimum": 0,
                                "maximum": 9007199254740991
                              }
                            },
                            "required": [
                              "keyword",
                              "rank"
                            ]
                          }
                        }
                      },
                      "required": [
                        "results"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/google/ads/search": {
      "post": {
        "operationId": "googleAdsSearch",
        "summary": "Search ads in the Google ads library",
        "description": "Costs 1 credit per call. Pages with cursor.",
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "description": "A domain like nike.com. Google's library finds ads by domain or advertiser, not by keyword.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "advertiser": {
                    "type": "string"
                  },
                  "domain": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "Country code like de. Only ads shown in this country are returned. Any case is accepted."
                  },
                  "mediaType": {
                    "type": "string",
                    "enum": [
                      "text",
                      "image",
                      "video"
                    ]
                  },
                  "platform": {
                    "description": "Google's own Platform filter: where the ad was shown.",
                    "type": "string",
                    "enum": [
                      "search",
                      "youtube",
                      "play",
                      "maps",
                      "shopping"
                    ]
                  },
                  "shownFrom": {
                    "description": "Google's own Date range: ads shown on or after this day.",
                    "type": "string",
                    "format": "date",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                  },
                  "shownTo": {
                    "description": "Google's own Date range: ads shown on or before this day.",
                    "type": "string",
                    "format": "date",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                  },
                  "cursor": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The cursor from the previous response. Send it as is."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "domain": "nike.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "x-cache": {
                "$ref": "#/components/headers/Cache"
              },
              "x-cache-age": {
                "$ref": "#/components/headers/CacheAge"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "totalMin": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "totalMax": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "adId": {
                                "type": "string"
                              },
                              "adUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "advertiserId": {
                                "type": "string"
                              },
                              "advertiserName": {
                                "type": "string"
                              },
                              "advertiserUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "domain": {
                                "type": "string"
                              },
                              "format": {
                                "type": "string",
                                "enum": [
                                  "text",
                                  "image",
                                  "video",
                                  "unknown"
                                ]
                              },
                              "firstShownAt": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              },
                              "lastShownAt": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              },
                              "daysShown": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "previewUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "imageUrl": {
                                "type": "string",
                                "format": "uri"
                              }
                            },
                            "required": [
                              "adUrl",
                              "advertiserUrl",
                              "format"
                            ]
                          }
                        },
                        "cursor": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "results"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/google/ads/ad": {
      "post": {
        "operationId": "googleAdsAd",
        "summary": "Get a Google ad's details",
        "description": "Costs 1 credit per call.",
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "adUrl": {
                    "type": "string",
                    "description": "Link to the Google Ads Transparency ad, like https://adstransparency.google.com/advertiser/AR18378488041124659201/creative/CR12345678901234567890. Send this or adId."
                  },
                  "adId": {
                    "type": "string",
                    "description": "Google Ads Transparency ad id, like CR12345678901234567890. Send this or adUrl."
                  },
                  "advertiserId": {
                    "description": "Advertiser id like AR18378488041124659201. Send it with adId; adUrl already has it.",
                    "type": "string"
                  }
                },
                "sendOne": [
                  "adUrl",
                  "adId"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "x-cache": {
                "$ref": "#/components/headers/Cache"
              },
              "x-cache-age": {
                "$ref": "#/components/headers/CacheAge"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "adId": {
                          "type": "string"
                        },
                        "adUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "advertiserId": {
                          "type": "string"
                        },
                        "advertiserName": {
                          "type": "string"
                        },
                        "advertiserUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "domain": {
                          "type": "string"
                        },
                        "format": {
                          "type": "string",
                          "enum": [
                            "text",
                            "image",
                            "video",
                            "unknown"
                          ]
                        },
                        "firstShownAt": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        "lastShownAt": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        "daysShown": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "previewUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "imageUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "advertiserCountry": {
                          "type": "string"
                        },
                        "advertiserIsVerified": {
                          "type": "boolean"
                        },
                        "paidBy": {
                          "type": "string"
                        },
                        "impressionsMin": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "impressionsMax": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "variations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "previewUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "imageUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "videoUrl": {
                                "type": "string",
                                "format": "uri"
                              }
                            },
                            "required": []
                          }
                        },
                        "regions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "country": {
                                "type": "string"
                              },
                              "firstShownAt": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              },
                              "lastShownAt": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              },
                              "impressionsMin": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "impressionsMax": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              }
                            },
                            "required": []
                          }
                        },
                        "targetingIncluded": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "targetingExcluded": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "adUrl",
                        "advertiserUrl",
                        "format",
                        "variations",
                        "regions",
                        "targetingIncluded",
                        "targetingExcluded"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/google/ads/advertisers": {
      "post": {
        "operationId": "googleAdsAdvertisers",
        "summary": "Find advertisers in the Google ads library",
        "description": "Costs 1 credit per call.",
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "country": {
                    "type": "string",
                    "pattern": "^[A-Za-z]{2}$",
                    "description": "Country code like de. Advertisers are matched on ads shown in this country, wherever the advertiser is based. Any case is accepted."
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              },
              "example": {
                "query": "nike"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "x-cache": {
                "$ref": "#/components/headers/Cache"
              },
              "x-cache-age": {
                "$ref": "#/components/headers/CacheAge"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "domains": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "advertiserId": {
                                "type": "string"
                              },
                              "advertiserName": {
                                "type": "string"
                              },
                              "advertiserCountry": {
                                "type": "string"
                              },
                              "advertiserUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "isVerified": {
                                "type": "boolean"
                              },
                              "adsMin": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "adsMax": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              }
                            },
                            "required": [
                              "advertiserUrl",
                              "isVerified"
                            ]
                          }
                        }
                      },
                      "required": [
                        "results",
                        "domains"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/google/scholar": {
      "post": {
        "operationId": "googleScholar",
        "summary": "Search Google Scholar for papers, books and case law, with citations",
        "description": "Costs 1 credit per call. Pages with page.",
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256
                  },
                  "citesId": {
                    "description": "A result's citesId: lists the works that cite it, like Scholar's Cited by.",
                    "type": "string",
                    "pattern": "^\\d{5,25}$"
                  },
                  "yearFrom": {
                    "description": "Scholar's own Custom range: from this year.",
                    "type": "integer",
                    "minimum": 1700,
                    "maximum": 2027
                  },
                  "yearTo": {
                    "description": "Scholar's own Custom range: up to this year.",
                    "type": "integer",
                    "minimum": 1700,
                    "maximum": 2027
                  },
                  "sort": {
                    "default": "relevance",
                    "description": "Scholar's own sort. Newest lists recent additions first.",
                    "type": "string",
                    "enum": [
                      "relevance",
                      "newest"
                    ]
                  },
                  "type": {
                    "default": "any",
                    "description": "Scholar's own Any type, Review articles, or Case law.",
                    "type": "string",
                    "enum": [
                      "any",
                      "reviewArticles",
                      "caseLaw"
                    ]
                  },
                  "includePatents": {
                    "default": false,
                    "type": "boolean"
                  },
                  "includeCitations": {
                    "default": true,
                    "description": "Scholar's own include citations: works known only from citations.",
                    "type": "boolean"
                  },
                  "page": {
                    "default": 1,
                    "description": "Page number, starting at 1.",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "query": "malaria vaccine efficacy"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The data, and the credits this call used.",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "x-credits-used": {
                "$ref": "#/components/headers/CreditsUsed"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "x-cache": {
                "$ref": "#/components/headers/Cache"
              },
              "x-cache-age": {
                "$ref": "#/components/headers/CacheAge"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "creditsUsed",
                    "requestId"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "title": {
                                "type": "string",
                                "minLength": 1
                              },
                              "url": {
                                "type": "string",
                                "format": "uri"
                              },
                              "format": {
                                "description": "Scholar's tag, like [PDF] or [BOOK].",
                                "type": "string",
                                "enum": [
                                  "pdf",
                                  "html",
                                  "book",
                                  "citation",
                                  "doc"
                                ]
                              },
                              "authors": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "description": "As Scholar lists them; long lists end early."
                              },
                              "publication": {
                                "description": "Journal or venue; the case citation for case law.",
                                "type": "string"
                              },
                              "year": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "publisher": {
                                "description": "Publisher or site Scholar names; the court for case law.",
                                "type": "string"
                              },
                              "snippet": {
                                "type": "string"
                              },
                              "citations": {
                                "description": "Scholar's Cited by count.",
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9007199254740991
                              },
                              "citesId": {
                                "description": "Send as citesId to list the works that cite this one.",
                                "type": "string"
                              },
                              "versions": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9007199254740991
                              },
                              "pdfUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "position": {
                                "type": "integer",
                                "exclusiveMinimum": 0,
                                "maximum": 9007199254740991
                              }
                            },
                            "required": [
                              "title",
                              "position"
                            ]
                          }
                        },
                        "page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "results",
                        "page"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
[...]
