{
  "openapi": "3.1.0",
  "info": {
    "title": "Stophy API",
    "version": "1.0.0",
    "description": "API for YouTube research workflows and agents. Search videos, get transcripts, read comments, inspect channels, fetch playlists, and return structured JSON."
  },
  "servers": [
    {
      "url": "https://api.stophy.dev",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Video",
      "description": "Retrieve video details, transcripts, comments, and replies."
    },
    {
      "name": "Search",
      "description": "Search YouTube with filters."
    },
    {
      "name": "Channel",
      "description": "Retrieve channel metadata and content."
    },
    {
      "name": "Playlist",
      "description": "Retrieve playlist items."
    },
    {
      "name": "Suggest",
      "description": "Search autocomplete suggestions."
    },
    {
      "name": "Account",
      "description": "Credit balance, request logs, and usage."
    },
    {
      "name": "MCP",
      "description": "Model Context Protocol endpoints for AI agent clients."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key from your dashboard. Prefix with Bearer in the Authorization header."
      }
    },
    "headers": {
      "X-Concurrency-Limit": {
        "description": "Max simultaneous in-flight requests for your plan.",
        "schema": {
          "type": "integer",
          "example": 5
        }
      },
      "X-Concurrency-Remaining": {
        "description": "In-flight slots still available right now.",
        "schema": {
          "type": "integer"
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": ["success", "error"],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [false],
            "description": "Always false for error responses."
          },
          "code": {
            "type": "string",
            "enum": [
              "UNAUTHORIZED",
              "INSUFFICIENT_CREDITS",
              "BAD_REQUEST",
              "INVALID_INPUT",
              "NOT_FOUND",
              "CONCURRENCY_LIMITED",
              "UPSTREAM_UNAVAILABLE",
              "INTERNAL_ERROR"
            ],
            "description": "Machine-readable error code. `UPSTREAM_UNAVAILABLE` indicates the upstream YouTube/Innertube endpoint could not be reached or is currently blocked."
          },
          "error": {
            "type": "string",
            "description": "Human-readable error message."
          },
          "details": {
            "description": "Optional additional context, present on validation errors."
          }
        }
      },
      "Thumbnail": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          }
        },
        "required": ["url", "width", "height"]
      },
      "McpTool": {
        "type": "object",
        "description": "An MCP tool exposed by the Stophy MCP server.",
        "properties": {
          "name": {
            "type": "string",
            "enum": [
              "stophy_search_videos",
              "stophy_get_video",
              "stophy_get_channel",
              "stophy_get_playlist",
              "stophy_get_suggestions",
              "stophy_music",
              "stophy_kids",
              "stophy_get_credits"
            ]
          },
          "description": {
            "type": "string"
          },
          "inputSchema": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "VideoRequestVideoOp": {
        "type": "object",
        "required": ["type", "videoUrl"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["details", "transcript", "comments", "livechat"]
          },
          "videoUrl": {
            "type": "string",
            "minLength": 1
          },
          "sortBy": {
            "type": "string",
            "enum": ["any", "top", "latest"],
            "description": "Comment sort order: any (YouTube's default ordering), top, or latest. Only applies when type is 'comments'. Defaults to any."
          },
          "chatType": {
            "type": "string",
            "enum": ["top", "live"]
          },
          "lang": {
            "type": "string",
            "description": "Preferred transcript language code. Only applies when type is transcript."
          },
          "continuationToken": {
            "type": "string"
          }
        }
      },
      "VideoRequestReplies": {
        "type": "object",
        "required": ["type", "continuationToken"],
        "properties": {
          "type": {
            "type": "string",
            "const": "replies"
          },
          "continuationToken": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "VideoDetail": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["video"],
            "description": "Item type discriminator. Always `video` for this schema."
          },
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "description": "Canonical URL alias for the item."
          },
          "videoUrl": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "author": {
            "type": ["string", "null"]
          },
          "authorId": {
            "type": ["string", "null"]
          },
          "description": {
            "type": ["string", "null"]
          },
          "viewCount": {
            "type": ["integer", "null"]
          },
          "viewCountText": {
            "type": ["string", "null"]
          },
          "likeCount": {
            "type": ["integer", "null"]
          },
          "likeCountText": {
            "type": ["string", "null"]
          },
          "durationSec": {
            "type": ["number", "null"]
          },
          "durationText": {
            "type": ["string", "null"]
          },
          "publishedAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "chapters": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": { "type": "string" },
                "startMs": { "type": "number" },
                "startSec": { "type": "number" }
              },
              "required": ["title", "startMs", "startSec"]
            }
          },
          "isLive": {
            "type": "boolean"
          },
          "category": {
            "type": ["string", "null"]
          },
          "thumbnails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Thumbnail"
            }
          }
        },
        "required": [
          "type",
          "id",
          "url",
          "videoUrl",
          "title",
          "author",
          "authorId",
          "description",
          "category",
          "tags",
          "chapters",
          "durationSec",
          "durationText",
          "isLive",
          "publishedAt",
          "viewCount",
          "viewCountText",
          "likeCount",
          "likeCountText",
          "thumbnails"
        ]
      },
      "RelatedVideo": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["video"],
            "description": "Item type discriminator. Always `video` for this schema."
          },
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "description": "Canonical URL alias for the item."
          },
          "videoUrl": {
            "type": "string"
          },
          "title": {
            "type": ["string", "null"]
          },
          "author": {
            "type": ["string", "null"]
          },
          "authorId": {
            "type": ["string", "null"]
          },
          "viewCount": {
            "type": ["integer", "null"]
          },
          "viewCountText": {
            "type": ["string", "null"]
          },
          "durationSec": {
            "type": ["number", "null"]
          },
          "durationText": {
            "type": ["string", "null"]
          },
          "publishedAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "publishedAtText": {
            "type": ["string", "null"]
          },
          "thumbnails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Thumbnail"
            }
          }
        },
        "required": [
          "type",
          "id",
          "url",
          "videoUrl",
          "title",
          "author",
          "authorId",
          "durationSec",
          "durationText",
          "publishedAt",
          "publishedAtText",
          "viewCount",
          "viewCountText",
          "thumbnails"
        ]
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "author": {
            "type": ["string", "null"]
          },
          "authorId": {
            "type": ["string", "null"]
          },
          "authorThumbnail": {
            "type": ["string", "null"],
            "description": "URL of the commenter’s channel avatar. Plain string URL, not an object."
          },
          "hasChannelOwnerReplied": {
            "type": "boolean"
          },
          "isChannelOwner": {
            "type": "boolean"
          },
          "isHearted": {
            "type": "boolean"
          },
          "isPinned": {
            "type": "boolean"
          },
          "isVerified": {
            "type": "boolean"
          },
          "publishedAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "publishedAtText": {
            "type": ["string", "null"]
          },
          "likeCount": {
            "type": ["integer", "null"]
          },
          "likeCountText": {
            "type": ["string", "null"]
          },
          "replyCount": {
            "type": ["integer", "null"]
          },
          "replyCountText": {
            "type": ["string", "null"]
          },
          "repliesToken": {
            "type": ["string", "null"],
            "description": "Token to fetch replies via type=replies."
          }
        },
        "required": [
          "id",
          "text",
          "author",
          "authorId",
          "authorThumbnail",
          "hasChannelOwnerReplied",
          "isChannelOwner",
          "isHearted",
          "isPinned",
          "isVerified",
          "publishedAt",
          "publishedAtText",
          "likeCount",
          "likeCountText",
          "replyCount",
          "replyCountText",
          "repliesToken"
        ]
      },
      "VideoResponseDetails": {
        "type": "object",
        "description": "Returned when type is 'details'.",
        "properties": {
          "videoId": {
            "type": "string"
          },
          "video": {
            "$ref": "#/components/schemas/VideoDetail"
          },
          "related": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelatedVideo"
            }
          }
        },
        "required": ["videoId", "video", "related"]
      },
      "VideoResponseTranscript": {
        "type": "object",
        "description": "Returned when type is 'transcript'.",
        "properties": {
          "videoId": {
            "type": "string"
          },
          "language": {
            "type": "object",
            "properties": {
              "code": {
                "type": ["string", "null"]
              },
              "name": {
                "type": ["string", "null"]
              },
              "isAutoGenerated": {
                "type": "boolean"
              }
            },
            "required": ["code", "name", "isAutoGenerated"]
          },
          "isTranslated": {
            "type": "boolean"
          },
          "availableTracks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "languageCode": { "type": "string" },
                "languageName": { "type": "string" },
                "isAutoGenerated": { "type": "boolean" }
              },
              "required": [
                "languageCode",
                "languageName",
                "isAutoGenerated"
              ]
            }
          },
          "segments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string"
                },
                "start": {
                  "type": "number",
                  "description": "Start time in seconds."
                },
                "duration": {
                  "type": "number",
                  "description": "Duration in seconds."
                }
              },
              "required": ["text", "start", "duration"]
            }
          },
          "text": {
            "type": "string",
            "description": "Concatenated transcript text."
          }
        },
        "required": [
          "videoId",
          "language",
          "isTranslated",
          "availableTracks",
          "segments",
          "text"
        ]
      },
      "VideoResponseComments": {
        "type": "object",
        "description": "Returned when type is 'comments'.",
        "properties": {
          "videoId": {
            "type": "string"
          },
          "sortBy": {
            "type": "string",
            "enum": ["any", "top", "latest"]
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comment"
            }
          },
          "continuationToken": {
            "type": ["string", "null"]
          },
          "hasMore": {
            "type": "boolean"
          }
        },
        "required": [
          "videoId",
          "sortBy",
          "items",
          "continuationToken",
          "hasMore"
        ]
      },
      "VideoResponseReplies": {
        "type": "object",
        "description": "Returned when type is 'replies'. Note: no videoId/sortBy; the parent video is implied. Reply items have no replyCount/replyCountText/repliesToken since replies cannot be threaded.",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reply"
            }
          },
          "continuationToken": {
            "type": ["string", "null"]
          },
          "hasMore": {
            "type": "boolean"
          }
        },
        "required": ["items", "continuationToken", "hasMore"]
      },
      "VideoResponseLivechat": {
        "type": "object",
        "description": "Returned when type is 'livechat'.",
        "properties": {
          "videoId": {
            "type": "string",
            "description": "The YouTube video ID this live chat belongs to. Mirrors the `videoUrl` from the request."
          },
          "status": {
            "type": "string",
            "enum": ["live", "upcoming", "replay", "chat_disabled", "not_live"]
          },
          "isLive": {
            "type": "boolean"
          },
          "concurrentViewers": {
            "type": ["integer", "null"]
          },
          "pollIntervalMs": {
            "type": ["integer", "null"],
            "description": "Suggested delay before next poll."
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "text": {
                  "type": "string"
                },
                "author": {
                  "type": ["string", "null"]
                },
                "authorId": {
                  "type": ["string", "null"]
                },
                "timestampUsec": {
                  "type": ["string", "null"],
                  "description": "Message timestamp in microseconds."
                },
                "isOwner": {
                  "type": "boolean"
                },
                "isModerator": {
                  "type": "boolean"
                },
                "isVerified": {
                  "type": "boolean"
                },
                "superChatAmount": {
                  "type": ["string", "null"]
                },
                "superChatCurrency": {
                  "type": ["string", "null"]
                }
              },
              "required": [
                "id",
                "text",
                "author",
                "authorId",
                "timestampUsec",
                "isOwner",
                "isModerator",
                "isVerified",
                "superChatAmount",
                "superChatCurrency"
              ]
            }
          },
          "continuationToken": {
            "type": ["string", "null"]
          },
          "hasMore": {
            "type": "boolean"
          }
        },
        "required": [
          "videoId",
          "status",
          "isLive",
          "concurrentViewers",
          "pollIntervalMs",
          "messages",
          "continuationToken",
          "hasMore"
        ]
      },
      "EmptyState": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": ["code", "message"]
      },
      "MusicArtistRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": ["string", "null"]
          },
          "name": {
            "type": "string"
          }
        },
        "required": ["id", "name"]
      },
      "MusicAlbumRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": ["string", "null"]
          },
          "name": {
            "type": "string"
          }
        },
        "required": ["id", "name"]
      },
      "MusicItem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "song",
              "video",
              "album",
              "artist",
              "playlist",
              "podcast",
              "episode",
              "profile"
            ]
          },
          "id": {
            "type": ["string", "null"]
          },
          "url": {
            "type": ["string", "null"]
          },
          "videoUrl": {
            "type": ["string", "null"]
          },
          "playlistUrl": {
            "type": ["string", "null"]
          },
          "channelUrl": {
            "type": ["string", "null"]
          },
          "albumUrl": {
            "type": ["string", "null"]
          },
          "artistUrl": {
            "type": ["string", "null"]
          },
          "title": {
            "type": "string"
          },
          "author": {
            "type": ["string", "null"]
          },
          "authorId": {
            "type": ["string", "null"]
          },
          "album": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/MusicAlbumRef"
              },
              {
                "type": "null"
              }
            ]
          },
          "artists": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MusicArtistRef"
            }
          },
          "duration": {
            "type": ["string", "null"]
          },
          "durationSec": {
            "type": ["number", "null"]
          },
          "durationText": {
            "type": ["string", "null"]
          },
          "isExplicit": {
            "type": "boolean"
          },
          "plays": {
            "type": ["string", "null"]
          },
          "thumbnails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Thumbnail"
            }
          }
        },
        "description": "YouTube Music result item. URL fields are populated only when YouTube returns the matching identifier for that item type.",
        "required": [
          "type",
          "id",
          "url",
          "title",
          "author",
          "authorId",
          "album",
          "artists",
          "duration",
          "durationSec",
          "durationText",
          "isExplicit",
          "plays",
          "thumbnails"
        ]
      },
      "MusicSong": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "videoUrl": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "author": {
            "type": ["string", "null"]
          },
          "authorId": {
            "type": ["string", "null"]
          },
          "album": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/MusicAlbumRef"
              },
              {
                "type": "null"
              }
            ]
          },
          "artists": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MusicArtistRef"
            }
          },
          "duration": {
            "type": ["string", "null"]
          },
          "durationSec": {
            "type": ["number", "null"]
          },
          "durationText": {
            "type": ["string", "null"]
          },
          "isExplicit": {
            "type": "boolean"
          },
          "lyricsBrowseId": {
            "type": ["string", "null"]
          },
          "relatedBrowseId": {
            "type": ["string", "null"]
          },
          "thumbnails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Thumbnail"
            }
          }
        },
        "required": [
          "id",
          "url",
          "videoUrl",
          "title",
          "author",
          "authorId",
          "album",
          "artists",
          "duration",
          "durationSec",
          "durationText",
          "isExplicit",
          "lyricsBrowseId",
          "relatedBrowseId",
          "thumbnails"
        ]
      },
      "MusicSearchData": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MusicItem"
            }
          },
          "continuationToken": {
            "type": ["string", "null"]
          },
          "hasMore": {
            "type": "boolean"
          },
          "empty": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/EmptyState"
              },
              {
                "type": "null"
              }
            ],
            "description": "Present only when the operation yields no results."
          }
        },
        "required": ["items", "continuationToken", "hasMore"]
      },
      "MusicSuggestData": {
        "type": "object",
        "properties": {
          "q": {
            "type": "string"
          },
          "suggestions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["q", "suggestions"]
      },
      "MusicSongData": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "song": {
                "$ref": "#/components/schemas/MusicSong"
              }
            },
            "required": ["song"]
          },
          {
            "type": "object",
            "properties": {
              "empty": {
                "$ref": "#/components/schemas/EmptyState"
              }
            },
            "required": ["empty"]
          }
        ]
      },
      "MusicLyricsData": {
        "type": "object",
        "properties": {
          "videoId": {
            "type": "string"
          },
          "videoUrl": {
            "type": "string"
          },
          "lyrics": {
            "type": ["string", "null"]
          },
          "source": {
            "type": ["string", "null"]
          },
          "hasTimedLyrics": {
            "type": "boolean"
          },
          "empty": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/EmptyState"
              },
              {
                "type": "null"
              }
            ],
            "description": "Present only when the operation yields no results."
          }
        },
        "required": [
          "videoId",
          "videoUrl",
          "lyrics",
          "source",
          "hasTimedLyrics"
        ]
      },
      "MusicAlbumData": {
        "type": "object",
        "properties": {
          "album": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "url": {
                "type": ["string", "null"]
              },
              "albumUrl": {
                "type": ["string", "null"]
              },
              "title": {
                "type": "string"
              },
              "artists": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MusicArtistRef"
                }
              },
              "year": {
                "type": ["string", "null"]
              },
              "trackCountText": {
                "type": ["string", "null"]
              },
              "durationText": {
                "type": ["string", "null"]
              },
              "thumbnails": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Thumbnail"
                }
              }
            },
            "required": [
              "id",
              "url",
              "albumUrl",
              "title",
              "artists",
              "year",
              "trackCountText",
              "durationText",
              "thumbnails"
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MusicItem"
            }
          },
          "empty": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/EmptyState"
              },
              {
                "type": "null"
              }
            ],
            "description": "Present only when the operation yields no results."
          }
        },
        "required": ["album", "items"]
      },
      "MusicArtistData": {
        "type": "object",
        "properties": {
          "artist": {
            "type": "object",
            "properties": {
              "id": {
                "type": ["string", "null"]
              },
              "url": {
                "type": ["string", "null"]
              },
              "channelUrl": {
                "type": ["string", "null"]
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": ["string", "null"]
              },
              "subscriberText": {
                "type": ["string", "null"]
              },
              "thumbnails": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Thumbnail"
                }
              }
            },
            "required": [
              "id",
              "url",
              "channelUrl",
              "name",
              "description",
              "subscriberText",
              "thumbnails"
            ]
          },
          "sections": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": ["string", "null"]
                      },
                      "url": {
                        "type": ["string", "null"]
                      },
                      "videoUrl": {
                        "type": "string"
                      },
                      "channelUrl": {
                        "type": "string"
                      },
                      "kind": {
                        "type": "string",
                        "enum": ["watch", "browse"]
                      },
                      "title": {
                        "type": "string"
                      },
                      "subtitle": {
                        "type": ["string", "null"]
                      },
                      "thumbnails": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Thumbnail"
                        }
                      }
                    },
                    "required": [
                      "id",
                      "url",
                      "kind",
                      "title",
                      "subtitle",
                      "thumbnails"
                    ]
                  }
                }
              },
              "required": ["title", "items"]
            }
          },
          "empty": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/EmptyState"
              },
              {
                "type": "null"
              }
            ],
            "description": "Present only when the operation yields no results."
          }
        },
        "required": ["artist", "sections"]
      },
      "MusicPlaylistData": {
        "type": "object",
        "properties": {
          "playlist": {
            "type": "object",
            "properties": {
              "id": {
                "type": ["string", "null"]
              },
              "url": {
                "type": ["string", "null"]
              },
              "playlistUrl": {
                "type": ["string", "null"]
              },
              "title": {
                "type": "string"
              },
              "subtitle": {
                "type": ["string", "null"]
              },
              "trackCountText": {
                "type": ["string", "null"]
              },
              "durationText": {
                "type": ["string", "null"]
              },
              "thumbnails": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Thumbnail"
                }
              }
            },
            "required": [
              "id",
              "url",
              "playlistUrl",
              "title",
              "subtitle",
              "trackCountText",
              "durationText",
              "thumbnails"
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MusicItem"
            }
          },
          "continuationToken": {
            "type": ["string", "null"]
          },
          "hasMore": {
            "type": "boolean"
          },
          "empty": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/EmptyState"
              },
              {
                "type": "null"
              }
            ],
            "description": "Present only when the operation yields no results."
          }
        },
        "required": ["playlist", "items", "continuationToken", "hasMore"]
      },
      "MusicResponseData": {
        "description": "Response payload varies by request `type`.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/MusicSearchData"
          },
          {
            "$ref": "#/components/schemas/MusicSuggestData"
          },
          {
            "$ref": "#/components/schemas/MusicSongData"
          },
          {
            "$ref": "#/components/schemas/MusicLyricsData"
          },
          {
            "$ref": "#/components/schemas/MusicAlbumData"
          },
          {
            "$ref": "#/components/schemas/MusicArtistData"
          },
          {
            "$ref": "#/components/schemas/MusicPlaylistData"
          }
        ]
      },
      "KidsVideoItem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "video"
          },
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "videoUrl": {
            "type": "string"
          },
          "kidsUrl": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "author": {
            "type": ["string", "null"]
          },
          "authorId": {
            "type": ["string", "null"]
          },
          "authorUrl": {
            "type": ["string", "null"]
          },
          "duration": {
            "type": ["string", "null"]
          },
          "durationSec": {
            "type": ["number", "null"]
          },
          "durationText": {
            "type": ["string", "null"]
          },
          "publishedAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "publishedAtText": {
            "type": ["string", "null"]
          },
          "viewCount": {
            "type": ["integer", "null"]
          },
          "viewCountText": {
            "type": ["string", "null"]
          },
          "thumbnails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Thumbnail"
            }
          }
        },
        "required": [
          "type",
          "id",
          "url",
          "videoUrl",
          "kidsUrl",
          "title",
          "author",
          "authorId",
          "authorUrl",
          "duration",
          "durationSec",
          "durationText",
          "publishedAt",
          "publishedAtText",
          "viewCount",
          "viewCountText",
          "thumbnails"
        ]
      },
      "KidsVideoDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "video"
          },
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "videoUrl": {
            "type": "string"
          },
          "kidsUrl": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "author": {
            "type": ["string", "null"]
          },
          "authorId": {
            "type": ["string", "null"]
          },
          "authorUrl": {
            "type": ["string", "null"]
          },
          "description": {
            "type": ["string", "null"]
          },
          "duration": {
            "type": ["string", "null"]
          },
          "durationSec": {
            "type": ["number", "null"]
          },
          "durationText": {
            "type": ["string", "null"]
          },
          "isLive": {
            "type": "boolean"
          },
          "isLiveContent": {
            "type": "boolean"
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "viewCount": {
            "type": ["integer", "null"]
          },
          "viewCountText": {
            "type": ["string", "null"]
          },
          "thumbnails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Thumbnail"
            }
          }
        },
        "required": [
          "type",
          "id",
          "url",
          "videoUrl",
          "kidsUrl",
          "title",
          "author",
          "authorId",
          "authorUrl",
          "description",
          "duration",
          "durationSec",
          "durationText",
          "isLive",
          "isLiveContent",
          "keywords",
          "viewCount",
          "viewCountText",
          "thumbnails"
        ]
      },
      "KidsSearchData": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KidsVideoItem"
            }
          },
          "continuationToken": {
            "type": ["string", "null"]
          },
          "hasMore": {
            "type": "boolean"
          },
          "empty": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/EmptyState"
              },
              {
                "type": "null"
              }
            ],
            "description": "Present only when the operation yields no results."
          }
        },
        "required": ["items", "continuationToken", "hasMore"]
      },
      "KidsVideoData": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "video": {
                "$ref": "#/components/schemas/KidsVideoDetails"
              },
              "related": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/KidsVideoItem"
                }
              }
            },
            "required": ["video", "related"]
          },
          {
            "type": "object",
            "properties": {
              "empty": {
                "$ref": "#/components/schemas/EmptyState"
              }
            },
            "required": ["empty"]
          }
        ]
      },
      "KidsResponseData": {
        "description": "Response payload varies by request `type`.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/KidsSearchData"
          },
          {
            "$ref": "#/components/schemas/KidsVideoData"
          }
        ]
      },
      "Reply": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "author": {
            "type": ["string", "null"]
          },
          "authorId": {
            "type": ["string", "null"]
          },
          "authorThumbnail": {
            "type": ["string", "null"],
            "description": "URL of the commenter’s channel avatar. Plain string URL, not an object."
          },
          "hasChannelOwnerReplied": {
            "type": "boolean"
          },
          "isChannelOwner": {
            "type": "boolean"
          },
          "isHearted": {
            "type": "boolean"
          },
          "isPinned": {
            "type": "boolean"
          },
          "isVerified": {
            "type": "boolean"
          },
          "publishedAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "publishedAtText": {
            "type": ["string", "null"]
          },
          "likeCount": {
            "type": ["integer", "null"]
          },
          "likeCountText": {
            "type": ["string", "null"]
          }
        },
        "required": [
          "id",
          "text",
          "author",
          "authorId",
          "authorThumbnail",
          "hasChannelOwnerReplied",
          "isChannelOwner",
          "isHearted",
          "isPinned",
          "isVerified",
          "publishedAt",
          "publishedAtText",
          "likeCount",
          "likeCountText"
        ],
        "description": "A reply to a comment. Replies cannot be threaded, so there are no reply-count or repliesToken fields."
      }
    }
  },
  "paths": {
    "/v1/search": {
      "post": {
        "operationId": "searchVideos",
        "x-cost": 1,
        "summary": "Search",
        "description": "Search YouTube with optional filters for content type, sort order, upload date, duration, and features. Returns paginated results.",
        "tags": ["Search"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["q"],
                "properties": {
                  "q": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Search query."
                  },
                  "type": {
                    "type": "string",
                    "enum": ["video", "short", "channel", "playlist", "movie"],
                    "description": "Filter by content type."
                  },
                  "sortBy": {
                    "type": "string",
                    "enum": ["relevance", "popularity", "date", "rating"],
                    "default": "relevance",
                    "description": "Sort order. Defaults to relevance."
                  },
                  "uploadDate": {
                    "type": "string",
                    "enum": ["today", "week", "month", "year"],
                    "description": "Filter by upload date."
                  },
                  "duration": {
                    "type": "string",
                    "enum": ["short", "medium", "long"],
                    "description": "Duration filter. Not applicable when type is short."
                  },
                  "features": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "live",
                        "4k",
                        "hd",
                        "subtitles",
                        "creativeCommons",
                        "360",
                        "vr180",
                        "3d",
                        "hdr",
                        "location",
                        "purchased"
                      ]
                    },
                    "description": "Filter by video features."
                  },
                  "continuationToken": {
                    "type": "string",
                    "description": "Token from a previous response to fetch the next page."
                  }
                }
              },
              "examples": {
                "basic": {
                  "summary": "Basic search",
                  "value": {
                    "q": "typescript tutorial"
                  }
                },
                "filtered": {
                  "summary": "Filtered search",
                  "value": {
                    "q": "typescript tutorial",
                    "type": "video",
                    "sortBy": "popularity",
                    "duration": "long",
                    "uploadDate": "year"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "headers": {
              "X-Concurrency-Limit": {
                "$ref": "#/components/headers/X-Concurrency-Limit"
              },
              "X-Concurrency-Remaining": {
                "$ref": "#/components/headers/X-Concurrency-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "cacheState": {
                      "type": "string",
                      "enum": ["hit", "miss"]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "creditsRemaining": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "description": "When no results match, the response includes `data.empty = { code: 'EMPTY_SEARCH_RESULTS', message }`.",
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "Search results. The shape of each item depends on the `type` filter (or on the item's intrinsic type if `type` was not specified).",
                          "items": {
                            "oneOf": [
                              {
                                "title": "VideoItem",
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "video"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string",
                                    "description": "Canonical URL alias for the item."
                                  },
                                  "videoUrl": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "author": {
                                    "type": ["string", "null"]
                                  },
                                  "authorId": {
                                    "type": ["string", "null"]
                                  },
                                  "description": {
                                    "type": ["string", "null"]
                                  },
                                  "duration": {
                                    "type": ["string", "null"]
                                  },
                                  "durationSec": {
                                    "type": ["number", "null"]
                                  },
                                  "durationText": {
                                    "type": ["string", "null"]
                                  },
                                  "isLive": {
                                    "type": "boolean"
                                  },
                                  "isUpcoming": {
                                    "type": "boolean"
                                  },
                                  "isVerified": {
                                    "type": "boolean"
                                  },
                                  "viewCount": {
                                    "type": ["integer", "null"]
                                  },
                                  "viewCountText": {
                                    "type": ["string", "null"]
                                  },
                                  "publishedAt": {
                                    "type": ["string", "null"],
                                    "format": "date-time"
                                  },
                                  "publishedAtText": {
                                    "type": ["string", "null"]
                                  },
                                  "thumbnails": {
                                    "type": "array",
                                    "items": {
                                      "$ref": "#/components/schemas/Thumbnail"
                                    }
                                  }
                                },
                                "required": [
                                  "type",
                                  "id",
                                  "url",
                                  "videoUrl",
                                  "title",
                                  "author",
                                  "authorId",
                                  "description",
                                  "duration",
                                  "durationSec",
                                  "durationText",
                                  "isLive",
                                  "isUpcoming",
                                  "isVerified",
                                  "viewCount",
                                  "viewCountText",
                                  "publishedAt",
                                  "publishedAtText",
                                  "thumbnails"
                                ]
                              },
                              {
                                "title": "ShortItem",
                                "description": "Shorts search results are trimmed: only id, shortUrl, title, viewCount, viewCountText, and thumbnails are returned. Author, description, and duration fields are NOT present.",
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "short"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string",
                                    "description": "Canonical URL alias for the item."
                                  },
                                  "shortUrl": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "viewCount": {
                                    "type": ["integer", "null"]
                                  },
                                  "viewCountText": {
                                    "type": ["string", "null"]
                                  },
                                  "thumbnails": {
                                    "type": "array",
                                    "items": {
                                      "$ref": "#/components/schemas/Thumbnail"
                                    }
                                  }
                                },
                                "required": [
                                  "type",
                                  "id",
                                  "url",
                                  "shortUrl",
                                  "title",
                                  "viewCount",
                                  "viewCountText",
                                  "thumbnails"
                                ]
                              },
                              {
                                "title": "ChannelItem",
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "channel"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string",
                                    "description": "Canonical URL alias for the item."
                                  },
                                  "channelUrl": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "handle": {
                                    "type": ["string", "null"]
                                  },
                                  "description": {
                                    "type": ["string", "null"]
                                  },
                                  "subscriberCount": {
                                    "type": ["integer", "null"]
                                  },
                                  "subscriberCountText": {
                                    "type": ["string", "null"]
                                  },
                                  "isVerified": {
                                    "type": "boolean"
                                  },
                                  "thumbnails": {
                                    "type": "array",
                                    "items": {
                                      "$ref": "#/components/schemas/Thumbnail"
                                    }
                                  }
                                },
                                "required": [
                                  "type",
                                  "id",
                                  "url",
                                  "channelUrl",
                                  "name",
                                  "handle",
                                  "description",
                                  "subscriberCount",
                                  "subscriberCountText",
                                  "isVerified",
                                  "thumbnails"
                                ]
                              },
                              {
                                "title": "PlaylistItem",
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "playlist"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string",
                                    "description": "Canonical URL alias for the item."
                                  },
                                  "playlistUrl": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "thumbnails": {
                                    "type": "array",
                                    "items": {
                                      "$ref": "#/components/schemas/Thumbnail"
                                    }
                                  },
                                  "author": {
                                    "type": ["string", "null"]
                                  },
                                  "authorId": {
                                    "type": ["string", "null"]
                                  },
                                  "videoCount": {
                                    "type": ["integer", "null"]
                                  },
                                  "videoCountText": {
                                    "type": ["string", "null"]
                                  }
                                },
                                "required": [
                                  "type",
                                  "id",
                                  "url",
                                  "playlistUrl",
                                  "title",
                                  "author",
                                  "authorId",
                                  "videoCount",
                                  "videoCountText",
                                  "thumbnails"
                                ]
                              }
                            ]
                          }
                        },
                        "continuationToken": {
                          "type": ["string", "null"]
                        },
                        "hasMore": {
                          "type": "boolean"
                        },
                        "estimatedResults": {
                          "type": ["integer", "null"],
                          "description": "Estimated total from YouTube on the first page; null when YouTube omits it or for continuation pages."
                        },
                        "empty": {
                          "type": ["object", "null"],
                          "description": "Present only when the operation yields no results.",
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "message": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "required": [
                        "items",
                        "continuationToken",
                        "hasMore",
                        "estimatedResults"
                      ]
                    }
                  }
                },
                "examples": {
                  "videos": {
                    "summary": "Search videos",
                    "value": {
                      "success": true,
                      "requestId": "string",
                      "cacheState": "hit | miss",
                      "creditsUsed": "number",
                      "creditsRemaining": "number",
                      "data": {
                        "query": {
                          "q": "string",
                          "type": "string",
                          "sortBy": "string",
                          "uploadDate": "string",
                          "duration": "string",
                          "features": ["string"]
                        },
                        "items": [
                          {
                            "type": "video",
                            "id": "string",
                            "videoUrl": "string",
                            "title": "string",
                            "author": "string | null",
                            "authorId": "string | null",
                            "description": "string | null",
                            "duration": "string | null",
                            "durationSec": "number | null",
                            "durationText": "string | null",
                            "isLive": "boolean",
                            "isUpcoming": "boolean",
                            "isVerified": "boolean",
                            "viewCount": "number | null",
                            "viewCountText": "string | null",
                            "publishedAt": "string | null",
                            "publishedAtText": "string | null",
                            "thumbnails": [
                              {
                                "url": "string",
                                "width": "number",
                                "height": "number"
                              }
                            ]
                          }
                        ],
                        "continuationToken": "string | null",
                        "estimatedResults": "number"
                      }
                    }
                  },
                  "shorts": {
                    "summary": "Search Shorts",
                    "value": {
                      "success": true,
                      "requestId": "string",
                      "cacheState": "hit | miss",
                      "creditsUsed": "number",
                      "creditsRemaining": "number",
                      "data": {
                        "query": {
                          "q": "string",
                          "type": "string"
                        },
                        "items": [
                          {
                            "type": "short",
                            "id": "string",
                            "shortUrl": "string",
                            "title": "string",
                            "viewCount": "number | null",
                            "viewCountText": "string | null",
                            "thumbnails": [
                              {
                                "url": "string",
                                "width": "number",
                                "height": "number"
                              }
                            ]
                          }
                        ],
                        "continuationToken": "string | null"
                      }
                    }
                  },
                  "channels": {
                    "summary": "Search channels",
                    "value": {
                      "success": true,
                      "requestId": "string",
                      "cacheState": "hit | miss",
                      "creditsUsed": "number",
                      "creditsRemaining": "number",
                      "data": {
                        "query": {
                          "q": "string",
                          "type": "string"
                        },
                        "items": [
                          {
                            "type": "channel",
                            "id": "string",
                            "channelUrl": "string",
                            "name": "string",
                            "handle": "string | null",
                            "description": "string | null",
                            "subscriberCount": "number | null",
                            "subscriberCountText": "string | null",
                            "isVerified": "boolean",
                            "thumbnails": [
                              {
                                "url": "string",
                                "width": "number",
                                "height": "number"
                              }
                            ]
                          }
                        ],
                        "continuationToken": "string | null"
                      }
                    }
                  },
                  "playlists": {
                    "summary": "Search playlists",
                    "value": {
                      "success": true,
                      "requestId": "string",
                      "cacheState": "hit | miss",
                      "creditsUsed": "number",
                      "creditsRemaining": "number",
                      "data": {
                        "query": {
                          "q": "string",
                          "type": "string"
                        },
                        "items": [
                          {
                            "type": "playlist",
                            "id": "string",
                            "playlistUrl": "string",
                            "title": "string",
                            "author": "string | null",
                            "authorId": "string | null",
                            "videoCount": "number | null",
                            "videoCountText": "string | null",
                            "thumbnails": [
                              {
                                "url": "string",
                                "width": "number",
                                "height": "number"
                              }
                            ]
                          }
                        ],
                        "continuationToken": "string | null"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Concurrency limited. Too many requests in flight for your plan; retry once an in-flight request finishes.",
            "headers": {
              "X-Concurrency-Limit": {
                "$ref": "#/components/headers/X-Concurrency-Limit"
              },
              "X-Concurrency-Remaining": {
                "$ref": "#/components/headers/X-Concurrency-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Transient upstream failure (UPSTREAM_UNAVAILABLE). YouTube was unreachable or bot-checked; the credit is refunded. Retry the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/video": {
      "post": {
        "operationId": "getVideo",
        "x-cost": 1,
        "summary": "Video",
        "description": "Fetch video details, transcript, comments, replies, or live chat. Pass type: details for metadata, transcript for timestamped captions, comments for top-level comments, replies for a comment thread (pass the repliesToken from a comment as continuationToken), or livechat for live stream chat messages.",
        "tags": ["Video"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "VideoOperation",
                    "type": "object",
                    "required": ["type", "videoUrl"],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "details",
                          "transcript",
                          "comments",
                          "livechat"
                        ],
                        "description": "The type of data to retrieve."
                      },
                      "videoUrl": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Full YouTube video URL (e.g. https://www.youtube.com/watch?v=...)."
                      },
                      "sortBy": {
                        "type": "string",
                        "enum": ["any", "top", "latest"],
                        "description": "Comment sort order: any (YouTube's default ordering), top, or latest. Only applies when type is 'comments'. Defaults to any."
                      },
                      "chatType": {
                        "type": "string",
                        "enum": ["top", "live"],
                        "description": "Live chat mode. Only applies when type is 'livechat'. 'top' = Top chat (moderated, default), 'live' = all messages. Applied on the first call; later polls keep the chosen mode."
                      },
                      "lang": {
                        "type": "string",
                        "description": "Preferred transcript language code. Only applies when type is 'transcript'."
                      },
                      "continuationToken": {
                        "type": "string",
                        "description": "Pagination token. For 'livechat', pass the continuationToken from a previous livechat response to poll for new messages."
                      }
                    }
                  },
                  {
                    "title": "CommentReplies",
                    "type": "object",
                    "required": ["type", "continuationToken"],
                    "properties": {
                      "type": {
                        "type": "string",
                        "const": "replies"
                      },
                      "continuationToken": {
                        "type": "string",
                        "minLength": 1,
                        "description": "The repliesToken from a previous comments response."
                      }
                    }
                  }
                ],
                "discriminator": {
                  "propertyName": "type",
                  "mapping": {
                    "details": "#/components/schemas/VideoRequestVideoOp",
                    "transcript": "#/components/schemas/VideoRequestVideoOp",
                    "comments": "#/components/schemas/VideoRequestVideoOp",
                    "livechat": "#/components/schemas/VideoRequestVideoOp",
                    "replies": "#/components/schemas/VideoRequestReplies"
                  }
                }
              },
              "examples": {
                "details": {
                  "summary": "Get video details",
                  "value": {
                    "videoUrl": "https://www.youtube.com/watch?v=D7liwdjvhWc",
                    "type": "details"
                  }
                },
                "transcript": {
                  "summary": "Get transcript",
                  "value": {
                    "videoUrl": "https://www.youtube.com/watch?v=D7liwdjvhWc",
                    "type": "transcript"
                  }
                },
                "comments": {
                  "summary": "Get comments",
                  "value": {
                    "videoUrl": "https://www.youtube.com/watch?v=D7liwdjvhWc",
                    "type": "comments",
                    "sortBy": "top"
                  }
                },
                "replies": {
                  "summary": "Get replies",
                  "value": {
                    "type": "replies",
                    "continuationToken": "REPLIES_TOKEN_FROM_COMMENT"
                  }
                },
                "livechat": {
                  "summary": "Get live chat",
                  "value": {
                    "videoUrl": "https://www.youtube.com/watch?v=D7liwdjvhWc",
                    "type": "livechat",
                    "chatType": "top"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Concurrency-Limit": {
                "$ref": "#/components/headers/X-Concurrency-Limit"
              },
              "X-Concurrency-Remaining": {
                "$ref": "#/components/headers/X-Concurrency-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "cacheState": {
                      "type": "string",
                      "enum": ["hit", "miss"]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "creditsRemaining": {
                      "type": "integer"
                    },
                    "data": {
                      "description": "Per-type response payload. See oneOf branches. If the operation yields no results, the response may include a `data.empty` object instead of the expected payload: `{ code: string, message: string }`. Codes: `EMPTY_TRANSCRIPT_SEGMENTS`, `EMPTY_COMMENTS`, `EMPTY_COMMENT_REPLIES`.",
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/VideoResponseDetails"
                        },
                        {
                          "$ref": "#/components/schemas/VideoResponseTranscript"
                        },
                        {
                          "$ref": "#/components/schemas/VideoResponseComments"
                        },
                        {
                          "$ref": "#/components/schemas/VideoResponseReplies"
                        },
                        {
                          "$ref": "#/components/schemas/VideoResponseLivechat"
                        }
                      ],
                      "discriminator": {
                        "propertyName": "_kind",
                        "mapping": {
                          "details": "#/components/schemas/VideoResponseDetails",
                          "transcript": "#/components/schemas/VideoResponseTranscript",
                          "comments": "#/components/schemas/VideoResponseComments",
                          "replies": "#/components/schemas/VideoResponseReplies",
                          "livechat": "#/components/schemas/VideoResponseLivechat"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "details": {
                    "summary": "Video details",
                    "value": {
                      "success": true,
                      "requestId": "string",
                      "cacheState": "hit | miss",
                      "creditsUsed": "number",
                      "creditsRemaining": "number",
                      "data": {
                        "video": {
                          "id": "string",
                          "videoUrl": "string",
                          "title": "string",
                          "author": "string",
                          "authorId": "string",
                          "description": "string | null",
                          "viewCount": "number",
                          "viewCountText": "string",
                          "likeCount": "number",
                          "likeCountText": "string",
                          "durationSec": "number",
                          "durationText": "string",
                          "publishedAt": "string",
                          "tags": "string[]",
                          "isLive": "boolean",
                          "category": "string",
                          "thumbnails": [
                            {
                              "url": "string",
                              "width": "number",
                              "height": "number"
                            }
                          ],
                          "type": "video"
                        },
                        "related": [
                          {
                            "id": "string",
                            "videoUrl": "string",
                            "title": "string",
                            "author": "string",
                            "authorId": "string",
                            "viewCount": "number",
                            "viewCountText": "string",
                            "durationSec": "number",
                            "durationText": "string",
                            "publishedAt": "string",
                            "publishedAtText": "string",
                            "thumbnails": [
                              {
                                "url": "string",
                                "width": "number",
                                "height": "number"
                              }
                            ],
                            "type": "video"
                          }
                        ]
                      }
                    }
                  },
                  "transcript": {
                    "summary": "Transcript",
                    "value": {
                      "success": true,
                      "requestId": "string",
                      "cacheState": "hit | miss",
                      "creditsUsed": "number",
                      "creditsRemaining": "number",
                      "data": {
                        "videoId": "string",
                        "language": {
                          "code": "string",
                          "name": "string",
                          "isAutoGenerated": "boolean"
                        },
                        "segments": [
                          {
                            "start": "number",
                            "duration": "number",
                            "text": "string"
                          }
                        ],
                        "text": "string"
                      }
                    }
                  },
                  "comments": {
                    "summary": "Comments",
                    "value": {
                      "success": true,
                      "requestId": "string",
                      "cacheState": "hit | miss",
                      "creditsUsed": "number",
                      "creditsRemaining": "number",
                      "data": {
                        "videoId": "string",
                        "sortBy": "latest | top | any",
                        "items": [
                          {
                            "id": "string",
                            "text": "string",
                            "author": "string",
                            "authorId": "string",
                            "authorThumbnail": "string",
                            "hasChannelOwnerReplied": "boolean",
                            "isChannelOwner": "boolean",
                            "isHearted": "boolean",
                            "isPinned": "boolean",
                            "isVerified": "boolean",
                            "publishedAt": "string | null",
                            "publishedAtText": "string",
                            "likeCount": "number",
                            "likeCountText": "string",
                            "replyCount": "number | null",
                            "replyCountText": "string | null",
                            "repliesToken": "string | null"
                          }
                        ],
                        "continuationToken": "string | null"
                      }
                    }
                  },
                  "replies": {
                    "summary": "Get replies",
                    "value": {
                      "success": true,
                      "requestId": "string",
                      "cacheState": "hit | miss",
                      "creditsUsed": "number",
                      "creditsRemaining": "number",
                      "data": {
                        "items": [
                          {
                            "id": "string",
                            "text": "string",
                            "author": "string",
                            "authorId": "string",
                            "authorThumbnail": "string",
                            "hasChannelOwnerReplied": "boolean",
                            "isChannelOwner": "boolean",
                            "isHearted": "boolean",
                            "isPinned": "boolean",
                            "isVerified": "boolean",
                            "publishedAt": "string | null",
                            "publishedAtText": "string",
                            "likeCount": "number",
                            "likeCountText": "string",
                            "replyCount": "number | null",
                            "replyCountText": "string | null",
                            "repliesToken": "string | null"
                          }
                        ],
                        "continuationToken": "string | null"
                      }
                    }
                  },
                  "livechat": {
                    "summary": "Get live chat",
                    "value": {
                      "success": true,
                      "requestId": "string",
                      "cacheState": "hit | miss",
                      "creditsUsed": "number",
                      "creditsRemaining": "number",
                      "data": {
                        "videoId": "string",
                        "status": "string",
                        "isLive": "boolean",
                        "concurrentViewers": "number | null",
                        "pollIntervalMs": "number | null",
                        "messages": [
                          {
                            "id": "string",
                            "text": "string",
                            "author": "string | null",
                            "authorId": "string | null",
                            "timestampUsec": "string | null",
                            "isOwner": "boolean",
                            "isModerator": "boolean",
                            "isVerified": "boolean",
                            "superChatAmount": "string | null",
                            "superChatCurrency": "string | null"
                          }
                        ],
                        "continuationToken": "string | null"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "code": "INVALID_INPUT",
                  "error": "videoUrl is required"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Concurrency limited. Too many requests in flight for your plan; retry once an in-flight request finishes.",
            "headers": {
              "X-Concurrency-Limit": {
                "$ref": "#/components/headers/X-Concurrency-Limit"
              },
              "X-Concurrency-Remaining": {
                "$ref": "#/components/headers/X-Concurrency-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Transient upstream failure (UPSTREAM_UNAVAILABLE). YouTube was unreachable or bot-checked; the credit is refunded. Retry the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/channel": {
      "post": {
        "operationId": "getChannel",
        "x-cost": 1,
        "summary": "Channel",
        "description": "Retrieve channel metadata and content by channelUrl. Use the tab field to switch between videos, Shorts, live streams, playlists, community posts, courses, and about info. Set query to search within the channel.",
        "tags": ["Channel"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["channelUrl"],
                "properties": {
                  "channelUrl": {
                    "type": "string",
                    "description": "Full YouTube channel URL, e.g. https://www.youtube.com/@mkbhd."
                  },
                  "tab": {
                    "type": "string",
                    "enum": ["video", "short", "live", "playlist", "post", "community", "course", "about"],
                    "default": "video",
                    "description": "Content tab to fetch. Defaults to video."
                  },
                  "query": {
                    "type": "string",
                    "description": "Search query within the channel. When supplied, tab is ignored."
                  },
                  "continuationToken": {
                    "type": "string",
                    "description": "Token from a previous response to fetch the next page."
                  },
                  "sortBy": {
                    "type": "string",
                    "enum": ["latest", "popular", "oldest"],
                    "description": "Sort order for the selected tab."
                  }
                }
              },
              "example": {
                "channelUrl": "https://www.youtube.com/@mkbhd",
                "tab": "video"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Channel data",
            "headers": {
              "X-Concurrency-Limit": {
                "$ref": "#/components/headers/X-Concurrency-Limit"
              },
              "X-Concurrency-Remaining": {
                "$ref": "#/components/headers/X-Concurrency-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "cacheState": {
                      "type": "string",
                      "enum": ["hit", "miss"]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "creditsRemaining": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "description": "All tabs return the same top-level fields. For `tab: \"about\"`, `items` is empty, `continuationToken` is null, and `hasMore` is false. When a content tab has no items, the response also includes `data.empty`.",
                      "properties": {
                        "channel": {
                          "type": ["object", "null"],
                          "description": "The channel profile. Always returned for the 'about' tab; may be null on continuation requests for other tabs.",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "channel"
                            },
                            "id": {
                              "type": ["string", "null"],
                              "description": "YouTube channel ID (UC...)."
                            },
                            "url": {
                              "type": ["string", "null"],
                              "format": "uri",
                              "description": "Canonical URL alias for the channel."
                            },
                            "channelUrl": {
                              "type": ["string", "null"],
                              "format": "uri",
                              "description": "Canonical URL of the channel."
                            },
                            "name": {
                              "type": ["string", "null"],
                              "description": "Display name of the channel."
                            },
                            "handle": {
                              "type": ["string", "null"],
                              "description": "Channel handle without the @ symbol (e.g. 'mkbhd')."
                            },
                            "description": {
                              "type": ["string", "null"],
                              "description": "Channel description / about text."
                            },
                            "subscriberCount": {
                              "type": ["integer", "null"],
                              "description": "Parsed subscriber count as a number."
                            },
                            "subscriberCountText": {
                              "type": ["string", "null"],
                              "description": "Formatted subscriber count string as displayed on YouTube (e.g. '21M subscribers')."
                            },
                            "videoCount": {
                              "type": ["integer", "null"],
                              "description": "Parsed total video count as a number."
                            },
                            "videoCountText": {
                              "type": ["string", "null"],
                              "description": "Formatted video count string (e.g. '1.2K videos')."
                            },
                            "isVerified": {
                              "type": "boolean",
                              "description": "Whether the channel has a verification badge."
                            },
                            "thumbnails": {
                              "type": "array",
                              "description": "Channel avatar thumbnails.",
                              "items": {
                                "$ref": "#/components/schemas/Thumbnail"
                              }
                            },
                            "banners": {
                              "type": "array",
                              "description": "Channel banner images.",
                              "items": {
                                "$ref": "#/components/schemas/Thumbnail"
                              }
                            },
                            "country": {
                              "type": ["string", "null"],
                              "description": "Channel country from the About tab; null when unavailable or on other tabs."
                            },
                            "joinedDate": {
                              "type": ["string", "null"],
                              "description": "Date the channel was created; null when unavailable or on other tabs."
                            },
                            "viewCount": {
                              "type": ["integer", "null"],
                              "description": "Total channel view count from the About tab; null when unavailable or on other tabs."
                            },
                            "viewCountText": {
                              "type": ["string", "null"],
                              "description": "Formatted total view count from the About tab; null when unavailable or on other tabs."
                            },
                            "links": {
                              "type": ["array", "null"],
                              "description": "External links from the About tab; null when unavailable or on other tabs.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "title": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                },
                                "required": ["title", "url"]
                              }
                            }
                          },
                          "required": [
                            "type",
                            "id",
                            "url",
                            "channelUrl",
                            "name",
                            "handle",
                            "description",
                            "subscriberCount",
                            "subscriberCountText",
                            "videoCount",
                            "videoCountText",
                            "isVerified",
                            "thumbnails",
                            "banners",
                            "country",
                            "joinedDate",
                            "viewCount",
                            "viewCountText",
                            "links"
                          ]
                        },
                        "tab": {
                          "type": "string"
                        },
                        "items": {
                          "type": "array",
                          "description": "Tab-specific items. Shape varies by `tab`; empty for `tab: \"about\"`.",
                          "items": {
                            "oneOf": [
                              {
                                "title": "VideoTabItem",
                                "description": "Returned for tab='video' (or when tab='short' with item type='video').",
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "video"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string",
                                    "description": "Canonical URL alias for the item."
                                  },
                                  "videoUrl": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": ["string", "null"]
                                  },
                                  "author": {
                                    "type": ["string", "null"]
                                  },
                                  "authorId": {
                                    "type": ["string", "null"]
                                  },
                                  "viewCount": {
                                    "type": ["integer", "null"]
                                  },
                                  "viewCountText": {
                                    "type": ["string", "null"]
                                  },
                                  "duration": {
                                    "type": ["string", "null"]
                                  },
                                  "durationSec": {
                                    "type": ["number", "null"]
                                  },
[...]
