{
  "openapi": "3.1.0",
  "info": {
    "title": "Stophy API",
    "version": "1.0.0",
    "description": "API for YouTube research workflows and agents. Search videos, get transcripts, read comments, inspect channels, fetch playlists, and return structured JSON."
  },
  "servers": [
    {
      "url": "https://api.stophy.dev",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Video",
      "description": "Retrieve video details, transcripts, comments, and replies."
    },
    {
      "name": "Search",
      "description": "Search YouTube with filters."
    },
    {
      "name": "Channel",
      "description": "Retrieve channel metadata and content."
    },
    {
      "name": "Playlist",
      "description": "Retrieve playlist items."
    },
    {
      "name": "Suggest",
      "description": "Search autocomplete suggestions."
    },
    {
      "name": "Account",
      "description": "Credit balance, request logs, and usage."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key from your dashboard. Prefix with Bearer in the Authorization header."
      }
    },
    "headers": {
      "X-Concurrency-Limit": {
        "description": "Max simultaneous in-flight requests for your plan.",
        "schema": {
          "type": "integer",
          "example": 5
        }
      },
      "X-Concurrency-Remaining": {
        "description": "In-flight slots still available right now.",
        "schema": {
          "type": "integer"
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ],
            "description": "Always false for error responses."
          },
          "code": {
            "type": "string",
            "enum": [
              "UNAUTHORIZED",
              "INSUFFICIENT_CREDITS",
              "BAD_REQUEST",
              "INVALID_INPUT",
              "NOT_FOUND",
              "CONCURRENCY_LIMITED",
              "INTERNAL_ERROR"
            ],
            "description": "Machine-readable error code."
          },
          "error": {
            "type": "string",
            "description": "Human-readable error message."
          },
          "details": {
            "description": "Optional additional context, present on validation errors."
          }
        }
      },
      "Thumbnail": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          }
        },
        "required": [
          "url",
          "width",
          "height"
        ],
        "additionalProperties": false
      },
      "EmptyState": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "additionalProperties": false
      },
      "TranscriptLanguage": {
        "type": "object",
        "properties": {
          "code": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "isAutoGenerated": {
            "type": "boolean"
          }
        },
        "required": [
          "code",
          "name",
          "isAutoGenerated"
        ],
        "additionalProperties": false
      },
      "TranscriptSegment": {
        "type": "object",
        "properties": {
          "start": {
            "type": "number"
          },
          "duration": {
            "type": "number"
          },
          "text": {
            "type": "string"
          }
        },
        "required": [
          "start",
          "duration",
          "text"
        ],
        "additionalProperties": false
      },
      "TranscriptResult": {
        "type": "object",
        "properties": {
          "language": {
            "$ref": "#/components/schemas/TranscriptLanguage"
          },
          "segments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TranscriptSegment"
            }
          },
          "text": {
            "type": "string"
          },
          "empty": {
            "$ref": "#/components/schemas/EmptyState"
          }
        },
        "required": [
          "language",
          "segments",
          "text"
        ],
        "additionalProperties": false
      },
      "VideoDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "const": "video"
          },
          "videoUrl": {
            "type": "string"
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "author": {
            "type": [
              "string",
              "null"
            ]
          },
          "authorId": {
            "type": [
              "string",
              "null"
            ]
          },
          "category": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "durationSec": {
            "type": [
              "number",
              "null"
            ]
          },
          "durationText": {
            "type": [
              "string",
              "null"
            ]
          },
          "isLive": {
            "type": "boolean"
          },
          "likeCount": {
            "type": [
              "number",
              "null"
            ]
          },
          "likeCountText": {
            "type": [
              "string",
              "null"
            ]
          },
          "publishedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "viewCount": {
            "type": [
              "number",
              "null"
            ]
          },
          "viewCountText": {
            "type": [
              "string",
              "null"
            ]
          },
          "thumbnails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Thumbnail"
            }
          }
        },
        "required": [
          "id",
          "videoUrl",
          "title",
          "thumbnails"
        ],
        "additionalProperties": false
      },
      "RelatedVideo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "const": "video"
          },
          "videoUrl": {
            "type": "string"
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "author": {
            "type": [
              "string",
              "null"
            ]
          },
          "authorId": {
            "type": [
              "string",
              "null"
            ]
          },
          "durationSec": {
            "type": [
              "number",
              "null"
            ]
          },
          "durationText": {
            "type": [
              "string",
              "null"
            ]
          },
          "publishedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "publishedAtText": {
            "type": [
              "string",
              "null"
            ]
          },
          "viewCount": {
            "type": [
              "number",
              "null"
            ]
          },
          "viewCountText": {
            "type": [
              "string",
              "null"
            ]
          },
          "thumbnails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Thumbnail"
            }
          }
        },
        "required": [
          "id",
          "videoUrl",
          "thumbnails"
        ],
        "additionalProperties": false
      },
      "VideoDetailsData": {
        "type": "object",
        "properties": {
          "video": {
            "$ref": "#/components/schemas/VideoDetails"
          },
          "related": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelatedVideo"
            }
          }
        },
        "required": [
          "video",
          "related"
        ],
        "additionalProperties": false
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": [
              "string",
              "null"
            ]
          },
          "text": {
            "type": [
              "string",
              "null"
            ]
          },
          "author": {
            "type": [
              "string",
              "null"
            ]
          },
          "authorId": {
            "type": [
              "string",
              "null"
            ]
          },
          "authorThumbnail": {
            "type": [
              "string",
              "null"
            ]
          },
          "hasChannelOwnerReplied": {
            "type": "boolean"
          },
          "isChannelOwner": {
            "type": "boolean"
          },
          "isHearted": {
            "type": "boolean"
          },
          "isPinned": {
            "type": "boolean"
          },
          "isVerified": {
            "type": "boolean"
          },
          "publishedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "publishedAtText": {
            "type": [
              "string",
              "null"
            ]
          },
          "likeCount": {
            "type": [
              "number",
              "null"
            ]
          },
          "likeCountText": {
            "type": [
              "string",
              "null"
            ]
          },
          "replyCount": {
            "type": [
              "number",
              "null"
            ]
          },
          "replyCountText": {
            "type": [
              "string",
              "null"
            ]
          },
          "repliesToken": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "text",
          "author",
          "authorId",
          "hasChannelOwnerReplied",
          "isChannelOwner",
          "isHearted",
          "isPinned",
          "isVerified"
        ],
        "additionalProperties": false
      },
      "CommentsData": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comment"
            }
          },
          "continuationToken": {
            "type": [
              "string",
              "null"
            ]
          },
          "empty": {
            "$ref": "#/components/schemas/EmptyState"
          }
        },
        "required": [
          "items",
          "continuationToken"
        ],
        "additionalProperties": false
      },
      "LiveChatMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "author": {
            "type": [
              "string",
              "null"
            ]
          },
          "authorId": {
            "type": [
              "string",
              "null"
            ]
          },
          "timestampUsec": {
            "type": [
              "string",
              "null"
            ]
          },
          "isOwner": {
            "type": "boolean"
          },
          "isModerator": {
            "type": "boolean"
          },
          "isVerified": {
            "type": "boolean"
          },
          "superChatAmount": {
            "type": [
              "string",
              "null"
            ]
          },
          "superChatCurrency": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "text",
          "isOwner",
          "isModerator",
          "isVerified"
        ],
        "additionalProperties": false
      },
      "LiveChatData": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "isLive": {
            "type": "boolean"
          },
          "concurrentViewers": {
            "type": [
              "number",
              "null"
            ]
          },
          "pollIntervalMs": {
            "type": [
              "number",
              "null"
            ]
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LiveChatMessage"
            }
          },
          "continuationToken": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "status",
          "isLive",
          "messages",
          "continuationToken"
        ],
        "additionalProperties": false
      },
      "VideoData": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/VideoDetailsData"
          },
          {
            "$ref": "#/components/schemas/TranscriptResult"
          },
          {
            "$ref": "#/components/schemas/CommentsData"
          },
          {
            "$ref": "#/components/schemas/LiveChatData"
          }
        ],
        "description": "Shape depends on the request `type`: details, transcript, comments/replies, or livechat."
      },
      "SearchVideo": {
        "type": "object",
        "properties": {
          "type": {
            "const": "video"
          },
          "id": {
            "type": "string"
          },
          "videoUrl": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "author": {
            "type": [
              "string",
              "null"
            ]
          },
          "authorId": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "duration": {
            "type": [
              "string",
              "null"
            ]
          },
          "durationSec": {
            "type": [
              "number",
              "null"
            ]
          },
          "durationText": {
            "type": [
              "string",
              "null"
            ]
          },
          "isLive": {
            "type": "boolean"
          },
          "isUpcoming": {
            "type": "boolean"
          },
          "isVerified": {
            "type": "boolean"
          },
          "viewCount": {
            "type": [
              "number",
              "null"
            ]
          },
          "viewCountText": {
            "type": [
              "string",
              "null"
            ]
          },
          "publishedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "publishedAtText": {
            "type": [
              "string",
              "null"
            ]
          },
          "thumbnails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Thumbnail"
            }
          }
        },
        "required": [
          "type",
          "id",
          "videoUrl",
          "title",
          "thumbnails"
        ],
        "additionalProperties": false
      },
      "SearchShort": {
        "type": "object",
        "properties": {
          "type": {
            "const": "short"
          },
          "id": {
            "type": "string"
          },
          "shortUrl": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "author": {
            "type": [
              "string",
              "null"
            ]
          },
          "authorId": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "duration": {
            "type": [
              "string",
              "null"
            ]
          },
          "durationSec": {
            "type": [
              "number",
              "null"
            ]
          },
          "durationText": {
            "type": [
              "string",
              "null"
            ]
          },
          "viewCount": {
            "type": [
              "number",
              "null"
            ]
          },
          "viewCountText": {
            "type": [
              "string",
              "null"
            ]
          },
          "publishedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "publishedAtText": {
            "type": [
              "string",
              "null"
            ]
          },
          "thumbnails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Thumbnail"
            }
          }
        },
        "required": [
          "type",
          "id",
          "shortUrl",
          "title",
          "thumbnails"
        ],
        "additionalProperties": false
      },
      "SearchPlaylist": {
        "type": "object",
        "properties": {
          "type": {
            "const": "playlist"
          },
          "id": {
            "type": "string"
          },
          "playlistUrl": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "author": {
            "type": [
              "string",
              "null"
            ]
          },
          "authorId": {
            "type": [
              "string",
              "null"
            ]
          },
          "videoCount": {
            "type": [
              "number",
              "null"
            ]
          },
          "videoCountText": {
            "type": [
              "string",
              "null"
            ]
          },
          "thumbnails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Thumbnail"
            }
          }
        },
        "required": [
          "type",
          "id",
          "playlistUrl",
          "title",
          "thumbnails"
        ],
        "additionalProperties": false
      },
      "SearchChannel": {
        "type": "object",
        "properties": {
          "type": {
            "const": "channel"
          },
          "id": {
            "type": "string"
          },
          "channelUrl": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "handle": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "subscriberCount": {
            "type": [
              "number",
              "null"
            ]
          },
          "subscriberCountText": {
            "type": [
              "string",
              "null"
            ]
          },
          "isVerified": {
            "type": "boolean"
          },
          "thumbnails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Thumbnail"
            }
          }
        },
        "required": [
          "type",
          "id",
          "channelUrl",
          "name",
          "thumbnails"
        ],
        "additionalProperties": false
      },
      "SearchItem": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SearchVideo"
          },
          {
            "$ref": "#/components/schemas/SearchShort"
          },
          {
            "$ref": "#/components/schemas/SearchPlaylist"
          },
          {
            "$ref": "#/components/schemas/SearchChannel"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "video": "#/components/schemas/SearchVideo",
            "short": "#/components/schemas/SearchShort",
            "playlist": "#/components/schemas/SearchPlaylist",
            "channel": "#/components/schemas/SearchChannel"
          }
        }
      },
      "SearchData": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchItem"
            }
          },
          "continuationToken": {
            "type": [
              "string",
              "null"
            ]
          },
          "estimatedResults": {
            "type": "integer"
          },
          "empty": {
            "$ref": "#/components/schemas/EmptyState"
          }
        },
        "required": [
          "items",
          "continuationToken"
        ],
        "additionalProperties": false
      },
      "ChannelLink": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "required": [
          "title",
          "url"
        ],
        "additionalProperties": false
      },
      "ChannelProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "handle": {
            "type": [
              "string",
              "null"
            ]
          },
          "channelUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "subscriberCount": {
            "type": [
              "number",
              "null"
            ]
          },
          "subscriberCountText": {
            "type": [
              "string",
              "null"
            ]
          },
          "videoCount": {
            "type": [
              "number",
              "null"
            ]
          },
          "videoCountText": {
            "type": [
              "string",
              "null"
            ]
          },
          "viewCount": {
            "type": [
              "number",
              "null"
            ]
          },
          "viewCountText": {
            "type": [
              "string",
              "null"
            ]
          },
          "isVerified": {
            "type": "boolean"
          },
          "country": {
            "type": [
              "string",
              "null"
            ]
          },
          "joinedDate": {
            "type": [
              "string",
              "null"
            ]
          },
          "thumbnails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Thumbnail"
            }
          },
          "banners": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Thumbnail"
            }
          },
          "links": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ChannelLink"
                }
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "name",
          "handle",
          "channelUrl",
          "isVerified",
          "thumbnails",
          "banners"
        ],
        "additionalProperties": false
      },
      "ContentItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "videoUrl": {
            "type": "string"
          },
          "shortUrl": {
            "type": "string"
          },
          "playlistUrl": {
            "type": "string"
          },
          "author": {
            "type": [
              "string",
              "null"
            ]
          },
          "authorId": {
            "type": [
              "string",
              "null"
            ]
          },
          "durationSec": {
            "type": [
              "number",
              "null"
            ]
          },
          "durationText": {
            "type": [
              "string",
              "null"
            ]
          },
          "viewCount": {
            "type": [
              "number",
              "null"
            ]
          },
          "viewCountText": {
            "type": [
              "string",
              "null"
            ]
          },
          "publishedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "publishedAtText": {
            "type": [
              "string",
              "null"
            ]
          },
          "thumbnails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Thumbnail"
            }
          }
        },
        "required": [
          "id",
          "thumbnails"
        ]
      },
      "ChannelData": {
        "type": "object",
        "properties": {
          "channel": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ChannelProfile"
              },
              {
                "type": "null"
              }
            ]
          },
          "tab": {
            "type": [
              "string",
              "null"
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContentItem"
            }
          },
          "continuationToken": {
            "type": [
              "string",
              "null"
            ]
          },
          "empty": {
            "$ref": "#/components/schemas/EmptyState"
          }
        },
        "required": [
          "channel"
        ],
        "additionalProperties": false
      },
      "PlaylistMeta": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "const": "playlist"
          },
          "playlistUrl": {
            "type": "string"
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "author": {
            "type": [
              "string",
              "null"
            ]
          },
          "authorId": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "videoCount": {
            "type": [
              "string",
              "null"
            ]
          },
          "thumbnails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Thumbnail"
            }
          }
        },
        "required": [
          "id",
          "playlistUrl",
          "thumbnails"
        ]
      },
      "PlaylistItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "const": "video"
          },
          "videoUrl": {
            "type": "string"
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "author": {
            "type": [
              "string",
              "null"
            ]
          },
          "authorId": {
            "type": [
              "string",
              "null"
            ]
          },
          "durationSec": {
            "type": [
              "number",
              "null"
            ]
          },
          "durationText": {
            "type": [
              "string",
              "null"
            ]
          },
          "index": {
            "type": [
              "number",
              "null"
            ]
          },
          "isLive": {
            "type": "boolean"
          },
          "isPlayable": {
            "type": "boolean"
          },
          "isUpcoming": {
            "type": "boolean"
          },
          "upcomingAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "viewCount": {
            "type": [
              "number",
              "null"
            ]
          },
          "viewCountText": {
            "type": [
              "string",
              "null"
            ]
          },
          "publishedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "publishedAtText": {
            "type": [
              "string",
              "null"
            ]
          },
          "thumbnails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Thumbnail"
            }
          }
        },
        "required": [
          "id",
          "videoUrl",
          "thumbnails"
        ]
      },
      "PlaylistData": {
        "type": "object",
        "properties": {
          "playlist": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/PlaylistMeta"
              },
              {
                "type": "null"
              }
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlaylistItem"
            }
          },
          "continuationToken": {
            "type": [
              "string",
              "null"
            ]
          },
          "empty": {
            "$ref": "#/components/schemas/EmptyState"
          }
        },
        "required": [
          "playlist",
          "items",
          "continuationToken"
        ],
        "additionalProperties": false
      },
      "SuggestData": {
        "type": "object",
        "properties": {
          "q": {
            "type": "string"
          },
          "hl": {
            "type": "string"
          },
          "gl": {
            "type": "string"
          },
          "suggestions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "q",
          "hl",
          "gl",
          "suggestions"
        ],
        "additionalProperties": false
      },
      "CreditsData": {
        "type": "object",
        "properties": {
          "credits": {
            "type": "integer"
          }
        },
        "required": [
          "credits"
        ],
        "additionalProperties": false
      },
      "LogEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "apiKeyId": {
            "type": [
              "string",
              "null"
            ]
          },
          "apiKeyName": {
            "type": [
              "string",
              "null"
            ]
          },
          "endpoint": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "credits": {
            "type": "integer"
          },
          "durationMs": {
            "type": [
              "number",
              "null"
            ]
          },
          "response": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "endpoint",
          "method",
          "status",
          "credits",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "LogsData": {
        "type": "object",
        "properties": {
          "logs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LogEntry"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          },
          "endpoints": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "logs",
          "total",
          "page",
          "pageSize",
          "totalPages",
          "endpoints"
        ],
        "additionalProperties": false
      },
      "UsageItem": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string"
          },
          "credits": {
            "type": "integer"
          },
          "requests": {
            "type": "integer"
          }
        },
        "required": [
          "date",
          "credits",
          "requests"
        ],
        "additionalProperties": false
      },
      "UsageData": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UsageItem"
            }
          }
        },
        "required": [
          "items"
        ],
        "additionalProperties": false
      }
    }
  },
  "paths": {
    "/v1/video": {
      "post": {
        "operationId": "getVideo",
        "summary": "Video",
        "description": "Fetch video details, transcript, comments, replies, or live chat. Pass type: details for metadata, transcript for timestamped captions, comments for top-level comments, replies for a comment thread (pass the repliesToken from a comment as continuationToken), or livechat for live stream chat messages.",
        "tags": [
          "Video"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "videoUrl"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "details",
                      "transcript",
                      "comments",
                      "replies",
                      "livechat"
                    ],
                    "description": "The type of data to retrieve."
                  },
                  "videoUrl": {
                    "type": "string",
                    "description": "Full YouTube video URL. Not required when type is replies."
                  },
                  "sortBy": {
                    "type": "string",
                    "enum": [
                      "latest",
                      "top"
                    ],
                    "description": "Comment sort order. Only applies when type is comments."
                  },
                  "chatType": {
                    "type": "string",
                    "enum": [
                      "top",
                      "live"
                    ],
                    "description": "Live chat mode. Only applies when type is livechat: 'top' = Top chat (moderated, default), 'live' = all messages. Applied on the first call; later polls keep the chosen mode."
                  },
                  "continuationToken": {
                    "type": "string",
                    "description": "Pagination token. Required when type is replies (use the repliesToken from a comment item); for livechat, pass the continuationToken from a previous livechat response to poll for new messages."
                  }
                }
              },
              "examples": {
                "details": {
                  "summary": "Get video details",
                  "value": {
                    "videoUrl": "https://www.youtube.com/watch?v=D7liwdjvhWc",
                    "type": "details"
                  }
                },
                "transcript": {
                  "summary": "Get transcript",
                  "value": {
                    "videoUrl": "https://www.youtube.com/watch?v=D7liwdjvhWc",
                    "type": "transcript"
                  }
                },
                "comments": {
                  "summary": "Get comments",
                  "value": {
                    "videoUrl": "https://www.youtube.com/watch?v=D7liwdjvhWc",
                    "type": "comments",
                    "sortBy": "top"
                  }
                },
                "replies": {
                  "summary": "Get replies",
                  "value": {
                    "type": "replies",
                    "continuationToken": "REPLIES_TOKEN_FROM_COMMENT"
                  }
                },
                "livechat": {
                  "summary": "Get live chat",
                  "value": {
                    "videoUrl": "https://www.youtube.com/watch?v=D7liwdjvhWc",
                    "type": "livechat",
                    "chatType": "top"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Concurrency-Limit": {
                "$ref": "#/components/headers/X-Concurrency-Limit"
              },
              "X-Concurrency-Remaining": {
                "$ref": "#/components/headers/X-Concurrency-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "data": {
                      "$ref": "#/components/schemas/VideoData"
                    },
                    "cacheState": {
                      "type": "string",
                      "enum": [
                        "hit",
                        "miss"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "creditsRemaining": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "success",
                    "requestId",
                    "data",
                    "cacheState",
                    "creditsUsed",
                    "creditsRemaining"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "code": "INVALID_INPUT",
                  "error": "videoUrl is required"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "headers": {
              "X-Concurrency-Limit": {
                "$ref": "#/components/headers/X-Concurrency-Limit"
              },
              "X-Concurrency-Remaining": {
                "$ref": "#/components/headers/X-Concurrency-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/search": {
      "post": {
        "operationId": "searchVideos",
        "summary": "Search",
        "description": "Search YouTube with optional filters for content type, sort order, upload date, duration, and features. Returns paginated results.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "q"
                ],
                "properties": {
                  "q": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Search query."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "video",
                      "short",
                      "channel",
                      "playlist",
                      "movie"
                    ],
                    "description": "Filter by content type."
                  },
                  "sortBy": {
                    "type": "string",
                    "enum": [
                      "relevance",
                      "popularity",
                      "date",
                      "rating"
                    ],
                    "default": "relevance",
                    "description": "Sort order. Defaults to relevance."
                  },
                  "uploadDate": {
                    "type": "string",
                    "enum": [
                      "today",
                      "week",
                      "month",
                      "year"
                    ],
                    "description": "Filter by upload date."
                  },
                  "duration": {
                    "type": "string",
                    "enum": [
                      "short",
                      "medium",
                      "long"
                    ],
                    "description": "Duration filter. Not applicable when type is short."
                  },
                  "features": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "live",
                        "4k",
                        "hd",
                        "subtitles",
                        "creativeCommons",
                        "360",
                        "vr180",
                        "3d",
                        "hdr",
                        "location",
                        "purchased"
                      ]
                    },
                    "description": "Filter by video features."
                  },
                  "continuationToken": {
                    "type": "string",
                    "description": "Token from a previous response to fetch the next page."
                  }
                }
              },
              "examples": {
                "basic": {
                  "summary": "Basic search",
                  "value": {
                    "q": "typescript tutorial"
                  }
                },
                "filtered": {
                  "summary": "Filtered search",
                  "value": {
                    "q": "typescript tutorial",
                    "type": "video",
                    "sortBy": "popularity",
                    "duration": "long",
                    "uploadDate": "year"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "headers": {
              "X-Concurrency-Limit": {
                "$ref": "#/components/headers/X-Concurrency-Limit"
              },
              "X-Concurrency-Remaining": {
                "$ref": "#/components/headers/X-Concurrency-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "data": {
                      "$ref": "#/components/schemas/SearchData"
                    },
                    "cacheState": {
                      "type": "string",
                      "enum": [
                        "hit",
                        "miss"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "creditsRemaining": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "success",
                    "requestId",
                    "data",
                    "cacheState",
                    "creditsUsed",
                    "creditsRemaining"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "headers": {
              "X-Concurrency-Limit": {
                "$ref": "#/components/headers/X-Concurrency-Limit"
              },
              "X-Concurrency-Remaining": {
                "$ref": "#/components/headers/X-Concurrency-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/channel": {
      "post": {
        "operationId": "getChannel",
        "summary": "Channel",
        "description": "Retrieve channel metadata and content by channelUrl. Use the tab field to switch between videos, shorts, playlists, and about info.",
        "tags": [
          "Channel"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channelUrl"
                ],
                "properties": {
                  "channelUrl": {
                    "type": "string",
                    "description": "Full YouTube channel URL, e.g. https://www.youtube.com/@mkbhd."
                  },
                  "tab": {
                    "type": "string",
                    "enum": [
                      "video",
                      "short",
                      "playlist",
                      "about"
                    ],
                    "default": "video",
                    "description": "Content tab to fetch. Defaults to video."
                  },
                  "continuationToken": {
                    "type": "string",
                    "description": "Token from a previous response to fetch the next page."
                  },
                  "sortBy": {
                    "type": "string",
                    "enum": [
                      "latest",
                      "popular",
                      "oldest"
                    ],
                    "description": "Sort order for the selected tab."
                  }
                }
              },
              "example": {
                "channelUrl": "https://www.youtube.com/@mkbhd",
                "tab": "video"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Channel data",
            "headers": {
              "X-Concurrency-Limit": {
                "$ref": "#/components/headers/X-Concurrency-Limit"
              },
              "X-Concurrency-Remaining": {
                "$ref": "#/components/headers/X-Concurrency-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ChannelData"
                    },
                    "cacheState": {
                      "type": "string",
                      "enum": [
                        "hit",
                        "miss"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "creditsRemaining": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "success",
                    "requestId",
                    "data",
                    "cacheState",
                    "creditsUsed",
                    "creditsRemaining"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "headers": {
              "X-Concurrency-Limit": {
                "$ref": "#/components/headers/X-Concurrency-Limit"
              },
              "X-Concurrency-Remaining": {
                "$ref": "#/components/headers/X-Concurrency-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/playlist": {
      "post": {
        "operationId": "getPlaylist",
        "summary": "Playlist",
        "description": "Retrieve items from a YouTube playlist. Use continuationToken to page through long playlists.",
        "tags": [
          "Playlist"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "playlistUrl"
                ],
                "properties": {
                  "playlistUrl": {
                    "type": "string",
                    "description": "Full YouTube playlist URL."
                  },
                  "continuationToken": {
                    "type": "string",
                    "description": "Token from a previous response to fetch the next page."
                  }
                }
              },
              "example": {
                "playlistUrl": "https://www.youtube.com/playlist?list=PLWKjhJtqVAbnupwRFOq9zGOWjdvPRtCmO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Playlist items",
            "headers": {
              "X-Concurrency-Limit": {
                "$ref": "#/components/headers/X-Concurrency-Limit"
              },
              "X-Concurrency-Remaining": {
                "$ref": "#/components/headers/X-Concurrency-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "data": {
                      "$ref": "#/components/schemas/PlaylistData"
                    },
                    "cacheState": {
                      "type": "string",
                      "enum": [
                        "hit",
                        "miss"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "creditsRemaining": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "success",
                    "requestId",
                    "data",
                    "cacheState",
                    "creditsUsed",
                    "creditsRemaining"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "headers": {
              "X-Concurrency-Limit": {
                "$ref": "#/components/headers/X-Concurrency-Limit"
              },
              "X-Concurrency-Remaining": {
                "$ref": "#/components/headers/X-Concurrency-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/suggest": {
      "get": {
        "operationId": "getSuggestions",
        "summary": "Suggest",
        "description": "Get YouTube search autocomplete suggestions for a query.",
        "tags": [
          "Suggest"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Search query."
          },
          {
            "name": "hl",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            },
            "description": "Language code, e.g. en, fr, de. Defaults to en."
          },
          {
            "name": "gl",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "US"
            },
            "description": "Country code, e.g. US, GB, DE. Defaults to US."
          }
        ],
        "responses": {
          "200": {
            "description": "Autocomplete suggestions",
            "headers": {
              "X-Concurrency-Limit": {
                "$ref": "#/components/headers/X-Concurrency-Limit"
              },
              "X-Concurrency-Remaining": {
                "$ref": "#/components/headers/X-Concurrency-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "data": {
                      "$ref": "#/components/schemas/SuggestData"
                    },
                    "cacheState": {
                      "type": "string",
                      "enum": [
                        "hit",
                        "miss"
                      ]
                    },
                    "creditsUsed": {
                      "type": "integer"
                    },
                    "creditsRemaining": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "success",
                    "requestId",
                    "data",
                    "cacheState",
                    "creditsUsed",
                    "creditsRemaining"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "headers": {
              "X-Concurrency-Limit": {
                "$ref": "#/components/headers/X-Concurrency-Limit"
              },
              "X-Concurrency-Remaining": {
                "$ref": "#/components/headers/X-Concurrency-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/credits": {
      "get": {
        "operationId": "getCredits",
        "summary": "Credits",
        "description": "Return the current credit balance for the authenticated API key.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Credit balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "data": {
                      "$ref": "#/components/schemas/CreditsData"
                    }
                  },
                  "required": [
                    "success",
                    "requestId",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/logs": {
      "get": {
        "operationId": "getLogs",
        "summary": "Logs",
        "description": "Return recent API request logs for the authenticated key.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "today",
                "7",
                "30"
              ],
              "default": "7"
            },
            "description": "Time window: 'today', the last 7 days, or the last 30 days."
          },
          {
            "name": "endpoint",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter logs to a single endpoint, e.g. /video."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            },
            "description": "Zero-based page index. Page size is fixed at 50 entries."
          }
        ],
        "responses": {
          "200": {
            "description": "Request logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "data": {
                      "$ref": "#/components/schemas/LogsData"
                    }
                  },
                  "required": [
                    "success",
                    "requestId",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "operationId": "getUsage",
        "summary": "Usage",
        "description": "Return daily credit and request counts for the authenticated key.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "today",
                "7",
                "30"
              ],
              "default": "7"
            },
            "description": "Time window: 'today', the last 7 days, or the last 30 days."
          },
          {
            "name": "tz",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "0"
            },
            "description": "Timezone offset in minutes used to bucket activity into days. Defaults to UTC."
          }
        ],
        "responses": {
          "200": {
            "description": "Daily usage",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "data": {
                      "$ref": "#/components/schemas/UsageData"
                    }
                  },
                  "required": [
                    "success",
                    "requestId",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
